{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'taskcore.analysis.analyseis'|trans }}{% endblock %}

{% set caption = 'gsprod.general.list' %}

{% block portletTools %}
  <li><a href="{{ path('analysis_tasks_new', {'pid': project.id}) }}" ><i class="icon-plus"></i> {{ 'gsprod.general.add'|trans }}</a></li>
  {% endblock portletTools %}

{% block portlet_body -%}

  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('Id', pagination, 'a.id') }}
      {{ metronic.dataTableTh('taskcore.analysis.title', pagination, 'a.title') }}
      {{ metronic.dataTableTh('taskcore.analysis.comments', pagination, 'a.comments') }}
      {{ metronic.dataTableTh('taskcore.analysis.active', pagination, 'a.active') }}
      {{ metronic.dataTableTh('gsprod.general.actions') }}
    </tr>
  </thead>
  <tbody>
    {% for entity in pagination %}
      <tr class="odd gradeX">
        <td><a href="{{ path('analysis_tasks_show', { 'pid':project.id, 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.title }}</td>
        <td>{{ entity.comments }}</td>
        <td>{{ entity.active|boolToText }}</td>
        <td>
          {{ metronic.dataTableAction('gsprod.general.view', path('analysis_tasks_show', { 'pid':project.id, 'id': entity.id }), 'green') }}
          {% if project.isInNutralState %}
            {{ metronic.dataTableAction('gsprod.general.edit', path('analysis_tasks_edit', { 'pid':project.id, 'id': entity.id }), 'blue') }}
            {% if not entity.active %}
              <a 
                href="{{ path('analysis_tasks_makeActive', { 'pid':project.id, 'id': entity.id }) }}" 
                class="btn default btn-xs red-stripe modal-confirm"
                confirm-message="{{'taskcore.analysis.will_be_active'|trans}}"
              >{{ 'taskcore.analysis.make_active'|trans }}</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost(pagination) }}

{% endblock %}
