{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'taskcore.analysis.analysis'|trans }}{% endblock %}

{% set caption = 'gsprod.general.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndAdd) }}               
    {{ metronic.abuttonBlue('blogpost.edit.back_to_record', path('analysis_tasks', {'pid': project.id})) }}
{% endblock %}

{% block portlet_body -%}
<form action="{{ path('analysis_tasks_create', {'pid': project.id}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
    <div class="form-body">
      {{ form_errors(form) }}
      {{ form_widget(form) }}
      {{ form_rest(form) }}
    </div>

{% endblock portlet_body %}
