{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'taskcore.analysis.analysis'|trans }} - {{ entity.title }}{% endblock %}

{% block portletTools %}
<li><a href="{{ path('analysis_tasks_edit', {'pid': project.id, 'id': entity.id}) }}" ><i class="fa fa-pencil"></i>{{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('analysis_tasks_delete', {'pid': project.id, 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gsprod.general.delete'|trans }}</a></li>

<li class="divider"></li>
<li><a href="{{ path('analysis_tasks', {'pid': project.id}) }}" ><i class="fa fa-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
  
{% set tagTasks %}
  {% if entity.getAnalysisTasksTag.count %}
    <span class="text">
    <ul>
    {% for itm in entity.getAnalysisTasksTag %}
        <li>{{ factory.getIdFromAlias(itm.alias)|trans }}</li>
    {% endfor %}
    </ul>
    </span> 
  {% endif %}   
{% endset %}

{% set prjTasks %}
  {% if entity.getAnalysisTasksProject.count %}
    <span class="text">
    <ul>
    {% for itm in entity.getAnalysisTasksProject %}
        <li>{{ factory.getIdFromAlias(itm.alias)|trans }}</li>
    {% endfor %}
    </ul>
    </span> 
  {% endif %}   
{% endset %}

  
<div class="form-horizontal form-view">   
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('taskcore.analysis.title'|trans, entity.title) }}
      {{ metronic.formViewRow('taskcore.analysis.comments'|trans, entity.comments) }}
      {{ metronic.formViewRow('taskcore.analysis.active'|trans, entity.active|boolToText) }}
      {{ metronic.formViewRow('taskcore.analysis.tag_tasks'|trans, tagTasks) }}
      {{ metronic.formViewRow('taskcore.analysis.prj_tasks'|trans, prjTasks) }}
    </div>
</div>

{% endblock portlet_body %}
