  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'media.edit.media'|trans }}{% endblock %}

{% set caption = 'media.edit.list' %}

  {% block portletTools %}
<li><a href="{{ path('slx_media_upload') }}" data-toggle="modal"><i class="fa fa-plus"></i> {{ 'media.edit.add'|trans }}</a></li>
  {% endblock portletTools %}

{% block portlet_body -%}
{{ metronic.dataTablePre() }}
<thead>
  <tr>
    <th>{{ 'media.edit.image'|trans }}</th>
    <th>{{ 'media.edit.name'|trans }}</th>
    <th>{{ 'media.edit.actions'|trans }}</th>
  </tr>
</thead>
<tbody>
  {% for img in images %}
  <tr>
    <td><img class="img-responsive" src="{{ asset(img.asset) }}" /></td>
    <td>{{ img.name }}</td>
    <td>
    <a href="{{ path('slx_media_delete', { 'name': img.name }) }}" class="btn default btn-xs red-stripe modal-confirm"
                     confirm-message="{{'media.edit.record_will_be_deleted'|trans}}">{{ 'media.edit.delete'|trans }}</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
{{ metronic.dataTablePost() }}
{% endblock %}

