<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{ 'media.edit.upload'|trans }}</h4>
    </div>
    <div class="modal-body">
      {% if not msg is empty %}
        {% if msg is sameas('success') %}
          <div class="alert alert-info fade in">{{ 'media.edit.success'|trans }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
        {% else %}
          <div class="alert alert-info fade in">{{ msg|trans }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
        {% endif %}
      {% endif %}
      <form action="{{ path('slx_media_upload') }}" method="post" {{ form_enctype(form) }} role="form" class="form-horizontal">
        <div class="form-body">
        {{ form_widget(form) }}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
      <button type="button" class="btn blue update">Upload</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->