  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      <th rowspan="2">{{ '#' }}</th>
      <th rowspan="2">{{ 'tag' }}</th>
      <th rowspan="2">{{ 'tag' }}</th>
      <th rowspan="2">{{ 'dif loc' }}</th>
      <th colspan="3">{{ 'files' }}</th>
      <th colspan="3">{{ 'functions' }}</th>
      <th colspan="3">{{ 'classes' }}</th>
      <th colspan="3">{{ 'methods' }}</th>
      </tr>
      <tr>
        <th>{{ 'Add' }}</th>
        <th>{{ 'Mod' }}</th>
        <th>{{ 'Rem' }}</th>
        <th>{{ 'Add' }}</th>
        <th>{{ 'Mod' }}</th>
        <th>{{ 'Rem' }}</th>
        <th>{{ 'Add' }}</th>
        <th>{{ 'Mod' }}</th>
        <th>{{ 'Rem' }}</th>
        <th>{{ 'Add' }}</th>
        <th>{{ 'Mod' }}</th>
        <th>{{ 'Rem' }}</th>
      </tr>
    </thead>
    <tbody>
    {% for rec in addModRem %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ rec.projectTagFrom.tag }}</td>
          <td>{{ rec.projectTagTo.tag }}</td>
          <td>{{ rec.projectTagTo.loc-rec.projectTagFrom.loc }}</td>
          <td>{{ rec.getFadd }}</td>
          <td>{{ rec.getFmod }}</td>
          <td>{{ rec.getFrem }}</td>
          <td>{{ rec.getFnadd }}</td>
          <td>{{ rec.getFnmod }}</td>
          <td>{{ rec.getFnrem }}</td>
          <td>{{ rec.getCadd }}</td>
          <td>{{ rec.getCmod }}</td>
          <td>{{ rec.getCrem }}</td>
          <td>{{ rec.getMadd }}</td>
          <td>{{ rec.getMmod }}</td>
          <td>{{ rec.getMrem }}</td>
        </tr>
    {% endfor %}
      </tbody>
    {{ metronic.dataTablePost() }}

