
  <div class="btn-group">
    <a class="btn " href="#" data-toggle="dropdown">
      <i class="fa fa-cogs"></i> <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ url('project_redo_analysis', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.redo_analysis_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.redo_analysis'|trans }}...</a>
      </li>
      <li><a href="{{ url('project_redo_analysis_nc', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.redo_nc_analysis_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.redo_analysis_nc'|trans }}...</a>
      </li>
      <li><a href="{{ url('project_kill_rest_tasks', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.kill_rest_tasks_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.kill_rest_tasks'|trans }}...</a>
      </li>
      {% if isCancelable %}
      <li><a href="{{ url('project_cancel_analysis', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.cancel_analysis_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.cancel_analysis'|trans }}...</a>
      </li>
      {% endif %}
      {% if job is defined and job is not null and job.state=='failed' %}
      <li><a href="{{ url('project_resume_failed', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.resume_failed_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.resume_failed'|trans }}...</a>
      </li>
      {% endif %}
      {% if isResumable %}
      <li><a href="{{ url('project_resume_failed', { 'id': entity.id }) }}"
             class="modal-confirm"
             confirm-message="{{'gitminer.project.resume_analysis_confirm'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gitminer.project.resume_analysis'|trans }}...</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('#') }}
      {{ metronic.dataTableTh('gitminer.project.title') }}
      {{ metronic.dataTableTh('gitminer.project.class') }}
      {{ metronic.dataTableTh('gitminer.project.class') }}
      {{ metronic.dataTableTh('gitminer.project.status') }}
      {{ metronic.dataTableTh('gitminer.project.duration') }}
      </tr>
    </thead>
    <tbody>
    {% for task in entity.getAnalysisTasks %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.class }}</td>
          <td>{{ task.params }}</td>
          <td>{{ ('gitminer.project.status' ~ task.status)|trans }} {% if task.status==2 %}<img src="{{ asset('bundles/slxgitminer/images/ajax-loader.gif') }}" />{% endif %}</td>
          <td>{{ task.duration }}</td>
        </tr>
    {% endfor %}
      </tbody>
    {{ metronic.dataTablePost() }}

