<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('gitminer.project.job_state'|trans, job.state) }}
      {{ metronic.formViewRow('gitminer.project.job_createdAt'|trans, job.createdAt|date('d/m/y H:i:s')) }}
      {{ metronic.formViewRow('gitminer.project.job_startedAt'|trans, job.startedAt|date('d/m/y H:i:s')) }}
      {{ metronic.formViewRow('gitminer.project.job_closedAt'|trans, job.closedAt|date('d/m/y H:i:s')) }}
      {{ metronic.formViewRow('gitminer.project.job_command'|trans, job.command) }}
      {{ metronic.formViewRow('gitminer.project.job_runtime'|trans, job.runtime) }}
      {{ metronic.formViewRow('gitminer.project.job_exitCode'|trans, job.exitCode) }}
      {% set foo %}<div style="height:300px; overflow: auto;">{{ job.errorOutput|nl2br }}</div>{% endset %}
      {{ metronic.formViewRow('gitminer.project.job_errorOutput'|trans, foo) }}
      {% set foo %}<div style="height:300px; overflow: auto;">{{ job.output|nl2br }}</div>{% endset %}
      {{ metronic.formViewRow('gitminer.project.job_errorOutput'|trans, foo) }}
  </div>
</div>
