<li><a href="{{ path('project_show', { 'id': entity.id }) }}" 
       ><i class="icon-table"></i> {{ 'gsprod.general.view'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('project_edit', { 'id': entity.id }) }}" 
       ><i class="icon-pencil"></i> {{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('project_delete', { 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="icon-trash"></i> {{ 'gsprod.general.delete'|trans }}</a></li>
<li class="divider"></li>
<li>
  <a href="{{ path('project_processInfo', { 'prjId': entity.id }) }}">
    <i class="icon-cogs"></i> {{ 'gitminer.project.process_info'|trans }}</a>
</li>
{% if entity.isInNutralState %}
  <li><a href="{{ path('analysis_tasks', { 'pid': entity.id }) }}">
    <i class="icon-cogs"></i> {{ 'taskcore.analysis.analyseis'|trans }}</a>
  </li>
  <li><a href="{{ path('project_add_to_suppl_analaysis', { 'id': entity.id }) }}"
         class="modal-confirm" confirm-message="{{'gitminer.project.set_suppl_analysis_confirm'|trans}}">
    <i class="icon-cogs"></i> {{ 'gitminer.project.add_to_suppl_analysis'|trans }}...</a>
  </li>
{% endif %}
{% block project_content_menu_extra %}
{% endblock %}
<li class="divider"></li>
<li><a href="{{ path('project_sizeGrow', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i> {{ 'Size growth' }}</a></li>
<li><a href="{{ path('project_show_add_mod_rem', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i> {{ 'To explore...' }}</a></li>
<li><a href="{{ path('project_funcSignature', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i> {{ 'Functions signatures' }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('project_func_survival', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Function slaughter all</a></li>
<li><a href="{{ path('project_func_survival_wc', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Function slaughter only with calls</a></li>
<li><a href="{{ path('project_func_survival_nc', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Function slaughter only without calls</a></li>
<li class="divider"></li>
<li><a href="{{ path('project_fanout', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Functions FanOut</a></li>
<li><a href="{{ path('project_func_nc', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Functions with FanIn=0</a></li>
<li><a href="{{ path('project_ccn', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Functions CCN</a></li>
<li><a href="{{ path('project_loc', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Functions LOC</a></li>
<li><a href="{{ path('project_cloc', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Comment lines</a></li>
<li class="divider"></li>
<li><a href="{{ path('project_runSimpleRpt', { 'id': entity.id }) }}"><i class="icon-bar-chart"></i>Εκτέλεση αναφορών</a></li>
<li><a href="{{ path('projectTag_functionHistory', { 'projectId': entity.id }) }}"><i class="icon-bar-chart"></i>Function History</a></li>
<li class="divider"></li>
<li><a href="{{ path('project') }}" ><i class="icon-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>

