{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

<div class="form-horizontal form-view">   
    <div class="form-body">
      {{ metronic.formViewRow('gsprod.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('gitminer.project.owner'|trans, entity.owner) }}
      {{ metronic.formViewRow('gitminer.project.pname'|trans, entity.pname) }}
      {% set foo %}<a href="https://github.com/{{ entity.owner }}/{{ entity.pname }}" target="_blank" title="view file in gitHub">https://github.com/{{ entity.owner }}/{{ entity.pname }}</a>{% endset %}
      {{ metronic.formViewRow('gitminer.project.git_url'|trans, foo) }}
      {{ metronic.formViewRow('gitminer.project.file_extensions'|trans, entity.getFileExtensions) }}
      {{ metronic.formViewRow('gitminer.project.libraries'|trans, entity.libraries) }}
      {{ metronic.formViewRow('gitminer.project.libexclstring'|trans, entity.getLibExclString) }}
      {{ metronic.formViewRow('gitminer.project.tests'|trans, entity.tests) }}
      {{ metronic.formViewRow('gitminer.project.published'|trans, entity.published|boolToText) }}
      {% set foo %}{{ ('gitminer.project.status' ~ entity.status)|trans }}
            {% if entity.status== constant('STATUS_RUNNING',entity) %}
            <img src="{{ asset('bundles/slxgitminer/images/ajax-loader.gif') }}" />
            {% endif %}
      {% endset %}
      {{ metronic.formViewRow('gitminer.project.status'|trans, foo) }}
    </div>
</div>
      {% if entity.status==0 %}
          <a href="{{ path('project_add_to_analaysis', { 'id': entity.id }) }}" class="btn blue btn-block modal-confirm"
           confirm-message="{{'gitminer.project.set_pending_confirm'|trans}}">{{ 'gitminer.project.set_pending'|trans }} <i class="m-icon-swapright m-icon-white"></i></a>
      {% endif %}
