<div id="batch_tag_list" class="batch-list-container">
    <form action="{{ path('project_batch') }}" method="POST" class="batch_list_form">
      <input type="hidden" value="{{ entity.id }}" name="project_id" />
      {{ metronic.dataTablePre() }}
      <thead>
        <tr>
          {% if entity.status==0 %}
          <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set=".checkboxess" /></th>
          {% endif %}
          {{ metronic.dataTableTh('#') }}
          {{ metronic.dataTableTh('tag') }}
          {{ metronic.dataTableTh('status') }}
          {{ metronic.dataTableTh('gsprod.general.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for tag in entity.getProjectTags %}
            <tr>
              {% if entity.status==0 %}
              <td><input type="checkbox" name="idx[]" class="checkboxess" value="{{ tag.id }}" /></td>
              {% endif %}
              <td>{{ loop.index }}</td>
              <td>{{ tag.tag }}</td>
              <td>{{ ('gitminer.projecttag.status' ~ tag.status)|trans }}</td>
              <td>
                {{ metronic.dataTableAction('gsprod.general.view', path('projectTag', { 'projectId': entity.id, 'tagId': tag.id }), 'green') }}
                {% if entity.status==0 or entity.status<5 %}
                  <a href="{{ path('project_delete_tag', { 'id': tag.id }) }}" class="btn mini red-stripe modal-confirm"
                     confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}">{{ 'gsprod.general.delete'|trans }}</a>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
          </tbody>
        {{ metronic.dataTablePost() }}

        {% if entity.status==0 %}
        <div class="form-actions">
          <select class="col-md-4 form-control batch_actions" name="batch_action">
            <option value="please" data-msg="">{{ 'gitminer.general.selectaction'|trans }}</option>
            <option value="delete" data-msg="Θα διαγραφούν οι επιλεγμένες εγγραφές. Είστε σίγουρος;">{{ 'gitminer.general.deleteselected'|trans }}</option>
          </select>
        </div>
        {% endif %}
    </form>
</div>