  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'gitminer.project.projects'|trans }}{% endblock %}

{% set caption = 'gsprod.general.list' %}

{% block portletTools %}
<li><a href="{{ path('project_new') }}" ><i class="icon-plus"></i> {{ 'gsprod.general.add'|trans }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
  <form action="{{ path('project') }}" class="form-horizontal" method="GET">
    <div class="form-body">
    {{ form_widget(filterForm) }}
    </div>
      <div class="form-actions">
              {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
        </div>
      </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
      <thead>
        <tr>
            {{ metronic.dataTableTh('Id', pagination, 'a.id') }}                            
            {{ metronic.dataTableTh('gitminer.project.owner', pagination, 'a.owner') }}                            
            {{ metronic.dataTableTh('gitminer.project.pname', pagination, 'a.pname') }}                            
            {{ metronic.dataTableTh('gitminer.project.git_url', pagination, 'a.git_url') }}                            
            {{ metronic.dataTableTh('gitminer.project.status', pagination, 'a.status') }}                        
            {{ metronic.dataTableTh('gsprod.general.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
              <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
              <td>{{ entity.owner }}</td>              
              <td>{{ entity.pname }}</td>              
              <td>{{ entity.giturl }}</td>              
              <td>{{ entity.status }}</td>
              <td>
                      {{ metronic.dataTableAction('gsprod.general.view', path('project_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('gsprod.general.edit', path('project_edit', { 'id': entity.id }), 'blue') }}
                </td>
              </tr>
        {% endfor %}
            </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
