{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ entity.pname }} - Run information{% endblock %}

{% block portletTools %}
<li><a href="{{ path('project_show', { 'id': entity.id }) }}" 
       ><i class="fa fa-table"></i> {{ 'gitminer.project.project'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('project') }}" ><i class="fa fa-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}
<hr />
<h4>Job</h4>
{% if job %}
{% include 'SlxGitMinerBundle:Project:_jobStatus.html.twig' %}
{% else %}
<p>No job for this project</p>
{% endif %}
<hr />
<h4>{{ 'gitminer.project.analysistasks'|trans }}</h4>

{% include 'SlxGitMinerBundle:Project:_analysisTasks.html.twig' %}

{% endblock portlet_body %}
