{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}

<hr />
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1_0" data-toggle="tab">{{ 'Reports'|trans }}</a></li>    
    <li><a href="#tab_1_1" data-toggle="tab">{{ 'gitminer.project.tags'|trans }}</a></li>    
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1_0">
        {% include 'SlxGitMinerBundle:ProjectReports:_reportsList.html.twig' %}
    </div>
    <div class="tab-pane" id="tab_1_1">
        {% include 'SlxGitMinerBundle:Project:_tagsList.html.twig' %}
    </div>
  </div>

{% endblock portlet_body %}
