{% extends 'SlxMetronicBundle::public.html.twig' %}
{% block page_title %}Home{% endblock %}
{% block body %}
<p>This is the public page that will provide datasets and diagrams from our Web Application Evolution analysis. From the menu 'Projects' you can select one from the available projects to view.</p>
<p>The backend is accesible (password protected) by the link: <a href="{{ path('metronic_admin_homepage') }}">Engine</a></p>
<h3>Acknowledgments</h3>
<p>This projects is hosted at grnet okeanos cloud thanks to HOU agreement for providing this service.</p>
{% endblock %}