{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ project.getPname }}{% endblock %}
{% block body %}
<p>Here are shown plots and datasets of the results of our maintenance analysis.</p>
{% for rpt in reports %}
  <hr />
  <h4>{{ loop.index }}. {{ rpt.getReportTitle }}</h4>
  <p>{{ rpt.getReportDescription }}</p>
  <p><a href="{{ path('simpleChartRpt_export', {'pId': project.getId, 'rId': rpt.getRptEntityId}) }}" target="_blank">Export to excel readable csv</a></p>
  {{ rptmacros.chartReportTabs('plot'~loop.index, rpt) }}
{% endfor %}


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
$(document).ready(function() {
  {% for rpt in reports %}
    {{ rptmacros.chartReportLineSeriesJs('#chart_plot'~loop.index,rpt) }}
  {% endfor %}
//---------------------------------------------------------------
 
  
});
</script>

{% endblock javascripts %}