{% extends 'SlxMetronicBundle::login.html.twig' %}

{% block loginform %}
  <form class="form-vertical login-form" action="{{ path('_slx_security_check') }}" method="POST">
    <div class="form-body">
      <h3 class="form-title">{{ 'users.general.login_to_your_account'|trans }}</h3>
      {% if error %}
        <div>{{ error.message }}</div>
      {% endif %}
      <div class="alert alert-error hide">
        <button class="close" data-dismiss="alert"></button>
        <span>Enter any username and password.</span>
      </div>
        
      <div class="form-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <label class="control-label  visible-ie8 visible-ie9">Username</label>
              <div class="input-icon left">
                  <i class="fa fa-user"></i>
                  <input class="form-control placeholder-no-fix" type="text" placeholder="Username" name="_username"/>
              </div>
      </div>
      <div class="form-group">
          <label class="col-md-3 visible-ie8 visible-ie9">Password</label>
              <div class="input-icon left">
                  <i class="fa fa-lock"></i>
                  <input class="form-control placeholder-no-fix" type="password" placeholder="Password" name="_password"/>
              </div>
      </div>
    </div>    
    <div class="form-actions">
        <label class="checkbox">
        <input type="checkbox" name="_remember_me" value="1"/> Remember me
        </label>
        <button type="submit" class="btn green pull-right">
        Login <i class="m-icon-swapright m-icon-white"></i>
        </button>            
    </div>

  </form>

{% endblock %}