
/* 
    Created on : 25 Απρ 2014, 7:11:53 μμ
    Author     : Panos Kyriakakis <panos at salix.gr>
*/

/***
Custom tables
***/
.table-toolbar {
  margin-bottom: 15px;
}

.table.table-full-width {
  width: 100% !important;
}

.table .m-btn {
  margin-top: 0px;
  margin-left: 0px; 
  margin-right: 5px;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
}

.table-advance {
  margin-bottom: 10px !important;
}

.table-advance thead { 
  color: #999; 
}

.table-advance thead tr th{
  background-color: #DDD; 
  font-size: 14px;
  font-weight: 400; 
  color: #666;
}

.table-advance div.success, 
.table-advance div.info, 
.table-advance div.important, 
.table-advance div.warning, 
.table-advance div.danger {
  position: absolute;
  margin-top:-5px;
  float: left;
  width: 2px;
  height: 30px;
  margin-right: 20px !important;
}

.table-advance tr td {
  border-left-width: 0px; 
}
.table-advance tr td:first-child {
  border-left-width: 1px !important; 
}

.table-advance tr td.highlight:first-child a {
  margin-left: 15px;
}

.table-advance td.highlight div.success {  
  border-left: 2px solid #66ee66;
}

.table-advance td.highlight div.info {  
  border-left: 2px solid #87ceeb;
}

.table-advance td.highlight div.important {  
  border-left: 2px solid #f02c71;
}

.table-advance td.highlight div.warning {  
  border-left: 2px solid #fdbb39;
}

.table-advance td.highlight div.danger {  
  border-left: 2px solid #e23e29;
}

/***
Responsive & Scrollable Tables
***/

.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dddddd;
  margin: 10px 0 !important;
}

.table-scrollable > .table {
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: 0;
  background-color: #fff;
}

.table-scrollable > .table > thead > tr > th,
.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > thead > tr > td,
.table-scrollable > .table > tbody > tr > td,
.table-scrollable > .table > tfoot > tr > td {
  white-space: nowrap;
}

.table-scrollable > .table-bordered {
  border: 0;
}

.table-scrollable > .table-bordered > thead > tr > th:first-child,
.table-scrollable > .table-bordered > tbody > tr > th:first-child,
.table-scrollable > .table-bordered > tfoot > tr > th:first-child,
.table-scrollable > .table-bordered > thead > tr > td:first-child,
.table-scrollable > .table-bordered > tbody > tr > td:first-child,
.table-scrollable > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.table-scrollable > .table-bordered > thead > tr > th:last-child,
.table-scrollable > .table-bordered > tbody > tr > th:last-child,
.table-scrollable > .table-bordered > tfoot > tr > th:last-child,
.table-scrollable > .table-bordered > thead > tr > td:last-child,
.table-scrollable > .table-bordered > tbody > tr > td:last-child,
.table-scrollable > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.table-scrollable > .table-bordered > thead > tr:last-child > th,
.table-scrollable > .table-bordered > tbody > tr:last-child > th,
.table-scrollable > .table-bordered > tfoot > tr:last-child > th,
.table-scrollable > .table-bordered > thead > tr:last-child > td,
.table-scrollable > .table-bordered > tbody > tr:last-child > td,
.table-scrollable > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}

/***
Responsive Flip Scroll Tables
***/

.flip-scroll table { width: 100%; }

@media only screen and (max-width: 800px) {
  
  .flip-scroll .flip-content:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
  .flip-scroll * html .flip-content { zoom: 1; }
  .flip-scroll *:first-child+html .flip-content { zoom: 1; }
  
  .flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
  .flip-scroll th,
  .flip-scroll td { margin: 0; vertical-align: top; }
  .flip-scroll th { 
    text-align: left; 
    border: 0 !important; 
    border-bottom: 1px solid #ddd !important; 
    border-right: 1px solid #ddd !important; 
    font-size: 13px !important;
    padding: 5px;
    width: auto !important;
  }
  
  .flip-scroll table { display: block; position: relative; width: 100%; }
  .flip-scroll thead { 
    display: block; 
    float: left; 
  }
  .flip-scroll tbody { 
    display: block; 
    width: auto; 
    position: relative; 
    overflow-x: auto; 
    white-space: nowrap;     
  }
  .flip-scroll thead tr { display: block; }
  .flip-scroll th { display: block; text-align: right; }
  .flip-scroll tbody tr { display: inline-block; vertical-align: top; margin-left: -5px; }
  .flip-scroll td { display: block; min-height: 1.25em; text-align: left; border-top: 0 !important; border-left: 0 !important; border-right: 0 !important} 
 
  /* sort out borders */
 
  .flip-scroll th { border-bottom: 0; border-left: 0; }
  .flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
  .flip-scroll tbody tr { border-left: 1px solid #ddd; }
  .flip-scroll th:last-child,
  .flip-scroll td:last-child { border-bottom: 1px solid #ddd; }
  
}

/*
 */
.table td.right, 
.table th.right {
  text-align: right;
}

/*
    epilekste perioxi selectbox
 */
 
	.select-wrapper{
		float: left;
		display: inline-block;
		border: 1px solid #d8d8d8;            
		background: url("../img/dropdown.png") no-repeat right center;
		cursor: pointer;
	}
	.select-wrapper, .select-wrapper select{
		width: 100%;
		height: 26px;
		line-height: 26px;
	}
	.select-wrapper:hover{
		background: url("../img/dropdown-hover.png") no-repeat right center;
		border-color: #239fdb;
	}
	.select-wrapper .holder{
		display: block;
		margin: 0 35px 0 5px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: -1;
	}
	.select-wrapper select{
		margin: 0;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}
    