{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

    
{% block page_title %}{{ 'graphrpt.categories.category'|trans }}{% endblock %}
{% block portletTools %}
    <li><a href="{{ path('simpleChartRpt_reportCategories_show', { 'id': entity.id }) }}" ><i class="fa fa-tasks"></i> {{ 'graphrpt.edit.view'|trans }}</a></li>
    <li><a href="{{ url('simpleChartRpt_reportCategories_delete', { 'id': entity.id }) }}" 
           class="modal-confirm" 
           confirm-message="{{'graphrpt.edit.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'graphrpt.edit.delete'|trans }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('simpleChartRpt_reportCategories') }}" ><i class="fa fa-table"></i> {{ 'graphrpt.edit.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'graphrpt.edit.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(edit_form.save) }}
    {{ form_widget(edit_form.saveAndAdd) }}               
    {{ metronic.abuttonBlue('graphrpt.edit.back_to_record', path('simpleChartRpt_reportCategories_show', {'id': entity.id})) }}
{% endblock %}

{% block portlet_body -%}
    <form action="{{ path('simpleChartRpt_reportCategories_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal">
      <div class="form-body">
        <input type="hidden" name="_method" value="POST" />
      {{ form_errors(edit_form) }}
      {{ form_row(edit_form.title) }}
      {{ form_rest(edit_form) }}
      </div>
{% endblock portlet_body %}
