{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'graphrpt.categories.category'|trans }}{% endblock %}

{% set caption = 'graphrpt.edit.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndAdd) }}               
    {{ metronic.abuttonBlue('graphrpt.edit.list', path('simpleChartRpt_reportCategories')) }}
{% endblock %}

{% block portlet_body -%}
    <form action="{{ path('simpleChartRpt_reportCategories_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
      {{ form_errors(form) }}
      {{ form_row(form.title) }}
      {{ form_rest(form) }}
      </div>
{% endblock portlet_body %}
