{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'graphrpt.categories.category'|trans }}{% endblock %}
{% block portletTools %}
<li><a href="{{ url('simpleChartRpt_reportCategories_edit', { 'id': entity.id }) }}" 
       ><i class="fa fa-pencil"></i> {{ 'graphrpt.edit.edit'|trans }}</a></li>
<li><a href="{{ url('simpleChartRpt_reportCategories_delete', { 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'graphrpt.edit.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'graphrpt.edit.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('simpleChartRpt_reportCategories') }}" ><i class="fa fa-table"></i> {{ 'graphrpt.edit.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'graphrpt.edit.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('graphrpt.edit.id'|trans, entity.id) }}
      {{ metronic.formViewRow('graphrpt.edit.title'|trans, entity.title) }}
    </div>
</div>
{% endblock portlet_body %}
