<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    {% block sidebar_menu %}
    {{ knp_menu_render('main', {'firstClass': 'start'}) }}
    {% endblock %}
</ul>

