<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="header-inner">
		<!-- BEGIN LOGO -->
		<a class="navbar-brand" href="{{ path('metronic_admin_homepage') }}">
        <img src="{{ asset('bundles/slxmetronic/img/logo.png') }}" alt="logo" class="img-responsive" />
		</a>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<img src="{{ asset('bundles/slxmetronic/img/menu-toggler.png') }}" alt="" />
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" src="{{ asset('bundles/slxmetronic/img/avatar-unknown.png') }}" />
                <span class="username">{{ app.security.getToken().getUser().getUsername() }}</span>
				<i class="fa fa-angle-down"></i>
				</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('user_changePass', {'id': 0}) }}"><i class="fa fa-user"></i> Αλλαγή password</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('logout') }}"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
