<div class="footer">
	<div class="footer-inner">
		 {% include 'SlxMetronicBundle::_copyright-line.html.twig' %} Version {% if app_version is defined %}{{ app_version }}{% else %}Define app_version in config.yml{% endif %}
	</div>
	<div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
