{%- if breadcrumbs.count %}
  <ul id="breadcrumbtrail" class="page-breadcrumb breadcrumb">
  {% for breadcrumb in breadcrumbs %}
    {% set class = (loop.first ? 'home' : (loop.last ? 'current' : '')) %}
    <li>
      {%- if loop.first %}<i class="fa fa-home"> </i>{%- endif %}
      {%- if breadcrumb.url is null or loop.last -%}
        <a href="#">{{ breadcrumb.title|trans }}</a>
      {%- else -%}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|trans }}</a>
      {%- endif -%}
      {%- if not loop.last %}<i class="fa fa-angle-right"></i>{%- endif %}
    </li>
  {% endfor %}
  </ul>
{%- endif -%}
