<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0.3
Version: 1.5.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ app_title }} {% endblock %} - {% block page_title %}Login{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('bundles/slxmetronic/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('bundles/slxmetronic/css/style-metronic.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('bundles/slxmetronic/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
	<link href="{{ asset('bundles/slxmetronic/plugins/select2/select2_metro.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('bundles/slxmetronic/plugins/data-tables/DT_bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/slxmetronic/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/slxmetronic/plugins/jquery-multi-select/css/multi-select-metro.css') }}" type="text/css" rel="stylesheet"  />
    <link href="{{ asset('bundles/slxmetronic/css/pages/login.css') }}" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<img src="{{ asset('bundles/slxmetronic/img/logo.png') }}" alt="" /> 
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
        {% block loginform %}
        login form here
        {% endblock %}
		<!-- END LOGIN FORM -->        
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
      {% include 'SlxMetronicBundle::_copyright-line.html.twig' %}
	</div>
	<!-- END COPYRIGHT -->
	<!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/jquery.cokie.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/plugins/jquery-multi-select/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}"></script>   
    <script type="text/javascript" src="{{ asset('bundles/slxmetronic/plugins/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/slxmetronic/scripts/app.js') }}"></script>
    <script src="{{ asset('bundles/slxmetronic/js/Slx.js') }}"></script>
	<script src="{{ asset('bundles/slxmetronic/plugins/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/slxmetronic/scripts/login.js') }}"></script> 
	<script>
		jQuery(document).ready(function() {    
		   App.init();
           Login.init();
		});
	</script>
    
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>

