{# --------------------------------------------------------------------------
   Portlet macros 
   -------------------------------------------------------------------------- #}
{% macro portletPre(caption, color, bodyExtraClass, icon) %}
<div class="portlet box {{ color|default('green')}}">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-{{ icon|default('table') }}"></i>{{ caption|trans }}</div>
    <!--
    <div class="actions">
      <div class="btn-group">
        <a class="btn {{ color|default('green')}}" href="#" data-toggle="dropdown">
          <i class="fa fa-gears"></i> <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">action</a></li>
          <li><a href="#">action</a></li>
          <li><a href="#">action</a></li>
        </ul>
      </div>
    </div>
    -->
    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
    </div>
  </div>
  <div class="portlet-body {{ bodyExtraClass|default('') }}">
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro portletPost() %}
  </div>
</div>
{% endmacro %}

{# -------------------------------------------------------------------------- #}
{% macro exportCsvToolLink(route) %}
  {% set route = route|default(app.request.get('_route')) %}
  {% set qparams = app.request.query.all() %}
  <li><a href="{{ path( route, qparams|merge({'out': 'csv'}) ) }}" target="_blank" ><i class="fa fa-download"></i> {{ 'gsprod.general.export_csv'|trans }}</a></li>
{% endmacro %}

{# --------------------------------------------------------------------------
   Datatable macros 
   -------------------------------------------------------------------------- #}
{% macro dataTablePre() %}
    <div class="table-scrollable">
      <table class="table table-striped table-bordered table-advance table-hover">
{% endmacro %}
            
{% macro dataTablePost(pagination) %}
        </table>
    </div>
        {% if pagination is not null %}
        {{ knp_pagination_render(pagination) }}
        {% endif %}
    
{% endmacro %}

{% macro dataTableTh(title, pagination, field) %}
  {% if pagination is not null %}
    <th class="{{ pagination|paginator_header_class(field) }}">{{ knp_pagination_sortable(pagination, title|trans, field) }}</th>
  {% else %}
    <th>{{ title|trans }}</th>
  {% endif %}
{% endmacro %}
      
{% macro dataTableAction(title, path, color) %}
   <a href="{{ path }}" class="btn default btn-xs {{ color }}-stripe">{{ title|trans }}</a>
{% endmacro %}
   
{# --------------------------------------------------------------------------
   Button group
   -------------------------------------------------------------------------- #}

{% macro buttonGroupPre() %}
    <div class="clearfix">
        <div class="btn-group">
{% endmacro %}
      
{% macro buttonGroupPost() %}
        </div>
    </div>

{% endmacro %}

{# -------------------------------------------------------------------------- #}
{% macro abuttonBlue(title, path, icon, color, id) %}
      <a href="{{ path }}" class="btn {{ color|default('') }}"
         {% if id is defined and id is not empty %} id="{{ id }}" {% endif %}
         >{% if icon is defined and icon is not empty %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ title|trans }}</a>
{% endmacro %}

{# -------------------------------------------------------------------------- #}
{% macro button(caption, type, color, icon, id, dataAttr) %}
   <button 
     type="{{ type|default('submit') }}" 
     class="btn {{ color|default('') }}"
     {% if id is defined and id is not empty %} id="{{ id }}" {% endif %}
     {% if dataAttr is defined and dataAttr is not empty %} {{ dataAttr|raw }} {% endif %}
   >{% if icon is defined and icon is not empty %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ caption|trans }}</button>
{% endmacro %}
    
{# -------------------------------------------------------------------------- #}
{#
  modal dialog macros. 

  modalPre -> add your modal content -> modalMid -> add your modal buttons -> modalPost

  modalPre adds html for wrappers and title section
  modalMid closes body section and opens footer section
  modalPost closes footer section and modal wrapper.
#}   
{# -------------------------------------------------------------------------- #}
{% macro modalPre(id, title) %}
  <div id="{{ id }}" class="modal fade" aria-hidden="true" role="basic" tabindex="-1" data-focus-on="input:first">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
{% endmacro %}
{# -------------------------------------------------------------------------- #}       
{% macro modalMid() %}
    </div>
    <div class="modal-footer">
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro modalPost() %}
        </div>
    </div>
  </div>
</div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro formViewRow(title, value) %}
  <div class="row">
    <div class="form-group">
      <label class="control-label col-md-3">{{ title }}</label>
      <div class="col-md-9">
          <p class="form-control-static">{{ value|nl2br }}</p>
        </div>
    </div>
  </div>
{% endmacro %}
{# -------------------------------------------------------------------------- #}
{% macro glyphIcon(icon) %}
    <i class="fa fa-{{ icon }}"></i>
{% endmacro %}