{% extends 'SlxMetronicBundle::admin.html.twig' %}
{% block body -%}

{% block filter_form %}
{% endblock %}

{% set _blockFA = block('formActions') %}

<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption"><i class="fa fa-{{ portletIcon|default('table') }}"></i>{{ caption|trans }}</div>
    {% set _block = block('portletTools') %}
    {% if _block is not empty %}
    <div class="actions">
      <div class="btn-group">
        <a class="btn green" href="#" data-toggle="dropdown">
          <i class="fa fa-gears"></i> <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          {{ block('portletTools') }}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="portlet-body {% if isForm is defined and isForm %}form{% endif %}">
    {% block portlet_body %}
      content goes here
    {% endblock portlet_body %}
    
    {% if _blockFA is not empty %}
    <div class="form-actions">
      {{ _blockFA|raw }}
    </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock body %}

