<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Slx Metronic{% endblock %}</title>
	<meta content="Slx Metronic" name="description" />
	<meta content="Panos Kyriakakis" name="author" />
    <style>
        body {
          font-family: Verdana;
          font-size: 10px;
        }
        h1 {
          font-size: 200%;
          font-weight: bold;
          margin: 0 0 5px 0;
          padding: 0 0 0 0;
          border-bottom: 2px solid #000000;
        }
        h2 {
          font-size: 150%;
          font-weight: bold;
          margin: 15px 0 0 0;
          padding: 0 0 0 0;
          border-bottom: 1px solid #000000;
          text-align: center;
        }
        h3 {
          font-size: 130%;
          font-weight: bold;
          margin: 5px 0 0 0;
          padding: 0 0 0 0;
          border-bottom: 1px solid #000000;
        }
        table {  width: 100% }
        td { border-bottom: 1px #e5e5e5 dotted }
        th { text-align: left; }
        th.right { text-align: right; }
        td.right { text-align: right }
        table.ingr td { font-size: 13px;}
        table.info {
          font-size: 12px;
        }
        div.fp_card_page {
        }
        
        div.fp_card_page div.fp_card_content {
          height: 50%;
          border: 1px solid #000000;
        }
                
        table.fp_card {
          font-size: 14px;
        }
        
        table.fp_card th { width: 30%; border-bottom: 1px #e5e5e5 dotted; padding: 3px; }
        
        td.fpnum { font-size: 15px; font-weight: bold; }
        ul { padding-left: 15px; margin-top: 0; margin-bottom: 0; }
        
        @media print
        {
          div.pbreak { page-break-after:always }

          div.fp_card_page {
            height: 26cm;
            overflow: hidden;
            page-break-after: always;
          }
          div.fp_card_page:last-of-type {
              page-break-after: auto
          }
          body:last-child {
              page-break-after: auto
          }
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body onload="window.print();">
  {% block body %}
  {% endblock %}
</body>
</html>
