<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
  {{ knp_menu_render('home', {'firstClass': 'start', 'template': 'SlxMetronicBundle:Menu:knp_public_menu.html.twig'}) }}
  </ul> 

</div>