<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0.3
Version: 1.5.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" >
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ app_title }}{% endblock %} - {% block page_title %}Blank Page{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Κομβος εκλογικών αποτελεσμάτων περιφέρειας στερεάς ελλάδας, φθιώτιδα, εύβοια, φωκίδα, ευρυτανία, βοιωτία" name="description"/>
    <meta content="Panos" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('bundles/slxmetronic/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('bundles/slxmetronic/public/css/style-metronic.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/pages/search-page-results.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/themes/blue.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/my-style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/slxmetronic/public/css/pages/prices.css') }}" rel="stylesheet" type="text/css"/>
    
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51694098-1', 'grnet.gr');
  ga('send', 'pageview');

</script>
  <div class="header navbar navbar-default navbar-static-top">
    <div class="container">
        {% include 'SlxMetronicBundle::public-header.html.twig' %}
        {% include 'SlxMetronicBundle::public-menu.html.twig' %}
    </div>
  </div>
  <div class="page-container">
      <!-- BEGIN BREADCRUMBS -->   
      <div class="row breadcrumbs margin-bottom-40">
          <div class="container">
              <div class="col-md-3 col-sm-3">
                  <h1>{{ block('page_title') }}</h1>
              </div>
              <div class="col-md-9 col-sm-9">
                {{ apy_breadcrumb_trail_render('SlxMetronicBundle::public-breadcrumbtrail.html.twig') }}
              </div>
          </div>
      </div>
      <!-- END BREADCRUMBS -->
    <div class="container min-hight">
      {% include 'SlxMetronicBundle::flashMessages.html.twig' %}
      {% block body %}{% endblock %}
    </div>
  </div>
  {% include 'SlxMetronicBundle::public-footer.html.twig' %}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->
<script src="{{ asset('bundles/slxmetronic/plugins/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/plugins/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset('bundles/slxmetronic/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/plugins/back-to-top.js') }}" type="text/javascript" ></script>    
<!-- END CORE PLUGINS -->
<script src="{{ asset('bundles/slxmetronic/public/scripts/app.js') }}"></script>
<script src="{{ asset('bundles/slxmetronic/public/scripts/index.js') }}"></script>
<script src="{{ asset('bundles/slxmetronic/public/js/Slx.js') }}"></script>

<script>
      jQuery(document).ready(function() {    
         App.init();
         Slx.init();
      });
</script>
{% block javascripts %} 
{% endblock javascripts %}

<!-- END JAVASCRIPTS -->
</body>
</html>