{%- if breadcrumbs.count %}
  <ul class="pull-right breadcrumb">
  {% for breadcrumb in breadcrumbs %}
    {% set class = (loop.first ? 'home' : (loop.last ? 'current' : '')) %}
    <li>
      {%- if breadcrumb.url is null or loop.last -%}
        <a href="#" {%- if loop.last -%}class="active"{% endif %}>{{ breadcrumb.title|trans }}</a>
      {%- else -%}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|trans }}</a>
      {%- endif -%}
    </li>
  {% endfor %}
  </ul>
{%- endif -%}
