<div class="navbar-header">
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->
  <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!-- END RESPONSIVE MENU TOGGLER -->
  <!-- BEGIN LOGO (you can use logo image instead of text)-->
  <a class="navbar-brand logo-v1" href="{{ path('metronic_public_homepage') }}">
    <img src="{{ asset('bundles/slxmetronic/public/img/logo_blue.png') }}" id="logoimg" alt="StereaEkloges" />
  </a>
  <!-- END LOGO -->
</div>
