<div class="well">
  <h4>Γενικές</h4>
  <dl>
    <dt><a href="{{ path('project_sizeGrow', { 'id': entity.id }) }}">{{ 'Size growth' }}</a></dt>
    <dd>Γενική εικόνα του μεγέθους του έργου στο χρόνο.</dd>
    <dt><a href="{{ path('project_show_add_mod_rem', { 'id': entity.id }) }}">{{ 'To explore...' }}</a></dt>
    <dd>Raw data για προσθήκες/μεταβολές/διαγραφές. Μια γενική εικόνα αυτών των δεδομένων μέχρι να γίνει ειδικότερη ανάλυση για αυτά. Κάθε σημείο που αναλύεται φεύγει και πάει σε δική του αναφορά.</dd>
    <dt><a href="{{ path('project_funcSignature', { 'id': entity.id }) }}">{{ 'Υπογραφές συναρτήσεων' }}</a></dt>
    <dd>Μελέτη σταθερότητας των υπογραφών των συναρτήσεων του έργου.</dd>
  </dl>
</div>
<div class="well">
  <h4>Μελέτη διαγραφών συναρτήσεων</h4>
  <dl>
    <dt><a href="{{ path('project_func_survival', { 'id': entity.id }) }}">Function slaughter all</a></dt>
    <dd>Μελέτη επιβιώσης των συναρτήσεων στη διάρκεια του έργου. Επιβίωση νοούμε αν διαγράφηκε κάποια στιγμή. Κάνουμε χρήση των καμπύλων επιβίωσης Kaplan-Meier.</dd>
    <dt><a href="{{ path('project_func_survival_wc', { 'id': entity.id }) }}">Function slaughter only with calls</a></dt>
    <dd>Μελέτη επιβιώσης των συναρτήσεων που είχαν κλίσεις (μη μηδενικό FanIn) στη διάρκεια του έργου.</dd>
    <dt><a href="{{ path('project_func_survival_nc', { 'id': entity.id }) }}">Function slaughter only without calls</a></dt>
    <dd>Μελέτη επιβιώσης των συναρτήσεων που δεν είχαν κλίσεις (μηδενικό FanIn) στη διάρκεια του έργου.</dd>
    <dt><a href="{{ path('project_deadFuncKM', { 'id': entity.id }) }}">Function survival (event=dead code)</a></dt>
    <dd>Πίνακας επιβίωσης συναρτήσεων. Το γεγονός είναι όταν FanIn=0 (dead code)</dd>
  </dl>
</div>
<div class="well">
  <h4>Εξέλιξη γνωστών μετρικών</h4>
  <dl>
    <dt><a href="{{ path('project_fanout', { 'id': entity.id }) }}">Functions FanOut</a></dt>
      <dd>Συναρτήσεις με μηδενικό fanOut θερούνται καλές. Πρώτα έχουμε ένα διάγραμμα με το ποσοστό των συναρτήσεων του έργου που έχουν fanOut=0. 
        Στη συνέχεια ένα διάγραμμα με εξέλιξη του μέσου fanOut των συναρτήσεων. Τέλος έχουμε ένα διάγραμμα με το δείκτη Gini για το fanOut. Σε κάθε γενιά υπολογίζουμε τον Gini για το funOut των συναρτήσεων.
      </dd>
    <dt><a href="{{ path('project_func_nc', { 'id': entity.id }) }}">Functions with FanIn=0</a></dt>
      <dd>Η εξέλιξη του πλήθους των συναρτήσεων στη διάρκεια του έργου με μηδενικό FanIn.</dd>
    <dt><a href="{{ path('project_ccn', { 'id': entity.id }) }}">Functions CCN</a></dt>
      <dd>Εξέλιξη της μέσης κυκλωματικής πολυπλοκότητας των συναρτήσεων του έργου.</dd>
    <dt><a href="{{ path('project_loc', { 'id': entity.id }) }}">Functions LOC</a></dt>
      <dd>Εξέλιξη του μέσου LOC των συναρτήσεων του έργου.</dd>
    <dt><a href="{{ path('project_cloc', { 'id': entity.id }) }}">Comment lines</a></dt>
      <dd>Εξέλιξη της πυκνότητας σχολίων στον κώδικα του έργου. Πρώτα έχουμε ένα διάγραμμα CLOC/LOC %. 
        Στη συνέχεια ένα διάγραμμα με το ποσοστό των συναρτήσεων ως προς το σύνολο των συναρτήσεων που δεν έχουν σχόλια. 
        Τέλος έχουμε ένα διάγραμμα με το δείκτη Gini για την πυκνότητα σχολίων ανά γενιά.
      </dd>
  </dl>
</div>
