<div class="clearfix margin-bottom-10 margin-top-10"><a class="btn green" data-toggle="modal" href="#reportSelect"><i class="fa fa-reorder"></i> {{ 'graphrpt.run.select_report'|trans }}</a></div>

{{ metronic.modalPre('reportSelect', 'gsprod.dyeorder.reorder_dsteps'| trans) }}
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
    {% for cid, cat in reports %}
        <li {% if loop.first %}class="active"{% endif %}><a href="#tab_cat_{{ cid }}" data-toggle="tab">{{ cat.title }}</a></li>
    {% endfor %}
    </ul>
    <div  class="tab-content">
        {% for cid, cat in reports %}
            <div class="tab-pane {% if loop.first %}active{% else %}fade{% endif %}" id="tab_cat_{{ cid }}">
                <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible="0">
                <dl>
               {% for rId, r in cat.items %}
                   <dt><a href="{{ path('project_runSimpleRpt', { 'id': entity.id, 'rptId': rId }) }}">{{ r.title }}</a> <a href="{{ path('simpleChartRpt_edit', { 'id': rId }) }}" title="{{ 'gsprod.general.edit'|trans }}"><i class="fa fa-pencil"></i></a></dt>
                   <dd>{{ r.descr|nl2br }}</dd>
               {% endfor %}
               </dl>
               </div>
            </div>
        {% endfor %}
    </div>
 </div>
{{ metronic.modalMid() }}
      <button type="button" data-dismiss="modal" class="btn">{{ 'gsprod.general.cancel'|trans }}</button>
{{ metronic.modalPost() }}
 