{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}

{% set caption = 'Functions survival (dead code)'|trans %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}
<hr />
<h4>Dead code</h4>
{{ metronic.dataTablePre() }}
<thead>
  <tr>
{% for t in rpt1.getLabels() %}
    {{ metronic.dataTableTh(t) }}
{% endfor %}
  </tr>
</thead>
<tbody>
  {% for r in rpt1.getResults() %}
  <tr>
    <td>{{ r.tag }}</td>
    <td>{{ r.atRisk }}</td>
    <td>{{ r.dead }}</td>
    <td>{{ r.censored }}</td>
    <td>{{ "%1.3f"|format(r.st) }}</td>
    <td>{{ "%1.3f"|format(r.ct) }}</td>
  </tr>
  {% endfor %}
</tbody>
{{ metronic.dataTablePost() }}

<textarea>
{% for t in rpt1.getLabels() %}{{t}};{% endfor %}

{% for r in rpt1.getResults() %}
  {{ r.tag }};{{ r.atRisk }};{{ r.dead }};{{ r.censored }};{{ r.st|number_format(3, ',', '.') }};{{ r.ct|number_format(3, ',', '.') }}
{% endfor %}
</textarea>
{% endblock portlet_body %}

