{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}

{% set caption = 'FanOut metric'|trans %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}
<hr />
<h4>{{ rep1.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('fanoutzero', rep1) }}
<hr />
<h4>{{ rep2.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('fanoutavg', rep2) }}

<hr />
<h4>{{ rep3.getReportTitle }}</h4>
<p>Χρησιμοποιούμε το Gini coefficient για να δούμε την κατανομή του fanout στις 
  συναρτήσεις του έργου. Όταν ο συντελεστής είναι κάτω από 0.80 τότε σημαίνει ότι
  δεν έχουμε πολλές συναρτήσεις με μεγάλο fanOut και συνεπώς είμαστε καλά. Στο διάγραμμα
  βλέπουμε την εξέλιξη του συντελεστή στις γενιές του έργου. Αν έχουμε πτωτική τάση τότε
  πιστεύω ότι έχουμε βελτίωση/καθάρισμα του κώδικα. Το οποίο σε συνδιασμό με το προηγούμενο διάγραμμα αν μας λέει ότι το μέσο fan-out μεγαλώνει, τι λέει;
</p>
<p>Αναφορά: Rajesh Vasa, Markus Lumpe, Philip Branch, Oscar Nierstrasz, Comparative Analysis of Evolving Software Systems Using the Gini Coefficient. 
  In Proceedings of the 25th International Conference on Software Maintenance (ICSM 2009), pp. 179–188, IEEE Computer Society, Los Alamitos, CA, USA, 2009.</p>
{{ rptmacros.chartReportTabs('fanoutgini', rep3) }}
{% endblock portlet_body %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
  {{ rptmacros.chartReportLineSeriesJs('#chart_fanoutzero',rep1) }}
  {{ rptmacros.chartReportLineSeriesJs('#chart_fanoutavg',rep2) }}
  {{ rptmacros.chartReportLineSeriesJs('#chart_fanoutgini',rep3) }}
</script>

{% endblock javascripts %}
