{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}

{% set caption = 'Stability to death' %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}
{% for rpt in reports %}
  <hr />
  <h4>{{ loop.index }}. {{ rpt.getReportTitle }}</h4>
  <p>{{ rpt.getReportDescription }}</p>
  {{ rptmacros.chartReportTabs('plot'~loop.index, rpt) }}
{% endfor %}
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
   {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
  $(document).ready(function() {
  {% for rpt in reports %}
    {{ rptmacros.chartReportLineSeriesJs('#chart_plot'~loop.index,rpt) }}
  {% endfor %}
});
</script>

{% endblock javascripts %}