{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}
{% set caption = 'Functions without calls' %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}

<hr />
  <h4>{{ 'Functions without calls' }}</h4>
  <p>Ποσοστιαία οι συναρτήσεις του έργου που δεν δέχονται κλίσεις</p>
<hr />
<h4>{{ rep1.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('fwc', rep1) }}

{% endblock portlet_body %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
$(document).ready(function() {
  {{ rptmacros.chartReportLineSeriesJs('#chart_fwc',rep1) }}
//---------------------------------------------------------------
 
});
</script>

{% endblock javascripts %}