{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}
{% set caption = 'Functions slaughter' %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}

<hr />
{% if descrId=='all' %}
  <h3>{{ 'Functions slaughter' }}</h3>
  <p>Καμπύλες επιβίωσης για όλες τις συναρτήσεις του έργου</p>
{%elseif descrId=='wc' %}
  <h3>{{ 'Functions slaughter with calls only' }}</h3>
  <p>Καμπύλες επιβίωσης για τις συναρτήσεις του έργου που έχουν κλίσεις</p>
{% elseif descrId=='nc' %}
  <h3>{{ 'Functions slaughter without calls only' }}</h3>
  <p>Καμπύλες επιβίωσης για τις συναρτήσεις του έργου που δεν έχουν κλίσεις</p>
{% endif %}

<hr />
<h4>{{ rep1.getReportTitle }}</h4>
{{ rep1.getSeriesCount }}
{% if( rep1.getSeriesCount>0 ) %}
{{ rptmacros.chartReportTabs('funcsKM', rep1) }}
{% endif %}
<hr />

<h4>{{ rep5.getReportTitle }}</h4>
{% if( rep5.getSeriesCount>0 ) %}
{{ rptmacros.chartReportTabs('funcsR', rep5) }}
{% endif %}

{% if rep4 is defined %}
<hr />
<h4>{{ rep4.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('funcsRF', rep4) }}

{% endif %}
<hr />
<h4>{{ rep6.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('allFuncsKM', rep6) }}

<hr />

{% endblock portlet_body %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
$(document).ready(function() {
  {% if( rep1.getSeriesCount>0 ) %}
  {{ rptmacros.chartReportLineSeriesJs('#chart_funcsKM',rep1) }}
    {% endif %}
  {{ rptmacros.chartReportLineSeriesJs('#chart_funcsR',rep5) }}
  {% if rep4 is defined %}
    {{ rptmacros.chartReportLineSeriesJs('#chart_funcsRF',rep4) }}
  {% endif %}
  {{ rptmacros.chartReportLineSeriesJs('#chart_allFuncsKM',rep6) }}
  
//---------------------------------------------------------------
 
  
});
</script>

{% endblock javascripts %}