{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}
{% set caption = 'graphrpt.edit.simple_chart_reports'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}

{% include 'SlxGitMinerBundle:ProjectReports:_rptSelect.html.twig' %}

{% if rep1 %}
<hr />
<h4>{{ rep1.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('loc', rep1, entity.id, rep1.getRptEntityId()) }}
{% endif %}

{% endblock portlet_body %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}
{% if rep1 %}
<script type="text/javascript">
  {{ rptmacros.chartReportLineSeriesJs('#chart_loc',rep1) }}
</script>
{% endif %}
{% endblock javascripts %}
