{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}

{% set caption = 'Comment lines'|trans %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}
<hr />
<h4>{{ rep1.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('avg', rep1) }}
<hr />
<h4>{{ rep2.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('uncomm', rep2) }}
<hr />
<h4>{{ rep3.getReportTitle }}</h4>
{{ rptmacros.chartReportTabs('gini', rep3) }}
{% endblock portlet_body %}

{% block javascripts %}
  {{ parent() }}
  {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
  {{ rptmacros.chartReportLineSeriesJs('#chart_avg',rep1) }}
  {{ rptmacros.chartReportLineSeriesJs('#chart_uncomm',rep2) }}
  {{ rptmacros.chartReportLineSeriesJs('#chart_gini',rep3) }}
</script>

{% endblock javascripts %}
