{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
{% import 'SlxMetronicBundle::chart-report-macros.html.twig' as rptmacros %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ entity.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': entity} only %}
{% endblock portletTools %}

{% set caption = 'To explore...' %}
{% set isForm = false %}
{% set portletIcon = 'bar-chart' %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': entity} only %}

<p>Διαγράμματα για σκέψη. Αν δούμε κάτι που έχει ενδιαφέρον το βλέπουμε αναλυτικότερα και το μεταφέρουμε σε άλλη σελίδα.</p>

<div class="tabbable tabbable-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab">{{ 'Some plots' }}</a></li>
    <li><a href="#tab_2" data-toggle="tab">{{ 'Raw Data'|trans }}</a></li>
    
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">
      {% for rpt in reports %}
        <hr />
        <h4>{{ loop.index }}. {{ rpt.getReportTitle }}</h4>
        <p>{{ rpt.getReportDescription }}</p>
        {{ rptmacros.chartReportTabs('plot'~loop.index, rpt) }}
      {% endfor %}
    </div>
    <div class="tab-pane" id="tab_2">
        {% include 'SlxGitMinerBundle:Project:_addModRem.html.twig' %}
    </div>
  </div>
</div>
{% endblock portlet_body %}

{% block javascripts %}
   {{ parent() }}
   {{ rptmacros.chartJscripts() }}

<script type="text/javascript">
  $(document).ready(function() {
  {% for rpt in reports %}
    {{ rptmacros.chartReportLineSeriesJs('#chart_plot'~loop.index,rpt) }}
  {% endfor %}
});
</script>

{% endblock javascripts %}