{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'blogpost.edit.post'|trans }}{% endblock %}

{% set caption = 'blogpost.edit.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndAdd) }}               
    {{ metronic.abuttonBlue('blogpost.edit.list', path('slx_blogpost')) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('slx_blogpost_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
      {{ form_errors(form) }}
      {{ form_widget(form) }}
      {{ form_rest(form) }}
      </div>
{% endblock portlet_body %}

