{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'blogpost.edit.post'|trans }}{% endblock %}
{% block portletTools %}
<li><a href="{{ url('slx_blogpost_edit', { 'id': entity.id }) }}" 
       ><i class="fa fa-pencil"></i> {{ 'blogpost.edit.edit'|trans }}</a></li>
<li><a href="{{ url('slx_blogpost_delete', { 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'blogpost.edit.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'blogpost.edit.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('slx_blogpost') }}" ><i class="fa fa-table"></i> {{ 'blogpost.edit.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'blogpost.edit.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      <h3 class="form-section">{{ 'blogpost.edit.general'|trans }}</h3>
      {{ metronic.formViewRow('blogpost.edit.id'|trans, entity.id) }}
      {{ metronic.formViewRow('blogpost.edit.title'|trans, entity.title) }}
      {{ metronic.formViewRow('blogpost.edit.content'|trans, entity.content) }}
      {{ metronic.formViewRow('blogpost.edit.image'|trans, entity.image) }}
      {{ metronic.formViewRow('blogpost.edit.excerpt'|trans, entity.excerpt) }}
      {{ metronic.formViewRow('blogpost.edit.author'|trans, entity.author) }}
      {{ metronic.formViewRow('blogpost.edit.tags'|trans, entity.tags) }}
      {{ metronic.formViewRow('blogpost.edit.slug'|trans, entity.slug) }}
    </div>
  <div class="form-actions">
    <span class="update-info">{{ 'blogpost.edit.created_at'|trans }} {{ entity.createdat|date('d-m-Y H:i:s') }}</span> 
    <span class="update-info">{{ 'blogpost.edit.updated_at'|trans }} {{ entity.updatedat|date('d-m-Y H:i:s') }}</span>
  </div>
</div>
{% endblock portlet_body %}
