
    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $form = $this->getFilterForm();
        $query = $this->makeListQuery($form);
        $request = $this->get('request');
        if ($request->get('out')=='csv') {
            $entities = $query->getResult();
            $response = $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:index.csv.twig', array(
                'entities' => $entities
            ));
            $response->headers->set('Content-Type', 'text/csv');
            $date = new \DateTime();
            $response->headers->set('Content-Disposition', 'attachment; filename="'.$date->format("U").'-machines.csv"');
            return $response;
        }
        $paginator = $this->get('knp_paginator');
        $pagination = $paginator->paginate(
            $query,
            $this->get('request')->query->get('page', 1) /* page number */,
            $this->get('request')->query->get('limit', 15)
        );
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'pagination' => $pagination,
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:index.html.twig', array(
            'pagination' => $pagination,
            'filterForm' => $form->createView()
        ));
{% endif %}
{% endblock method_return %}
    }

/**
 * Create list query
 */
private function makeListQuery($form) {
{% block makeListQuery %}
    $em = $this->getDoctrine()->getManager();
    $dql = "SELECT a FROM {{ bundle }}:{{ entity }} a";
    $form->handleRequest($this->get('request'));
    $filterQryParams = array();
    $where = array();
    $this->get('request')->setLocale('el');
    if ($form->isValid()) {
        $filterData = $form->getData();
        if ($filterData['title']) {
            $where[] = " a.title like :atitle ";
            $filterQryParams['atitle'] = str_replace('*', '%', $filterData['title']);
        }
    }
    if ($where) {
        $dql .= ' where ' . implode(' and ', $where);
    }

    $query = $em->createQuery($dql);
    $query->setParameters($filterQryParams);
    return $query;
{% endblock %}
}
    /**
     * Creates filter form
     *
     */
    private function getFilterForm()
    {
{% block getFilterForm %}
        $filterData = array();
        $this->createFormBuilder();
        $form = $this->createFormBuilder($filterData, array('method' => 'GET', 'csrf_protection' => false))
            ->add(
                'title',
                'text',
                array('required' => false, 'label' => 'gsprod.{{ entity|lower }}.title')
            )
            ->getForm();
        return $form;
{% endblock %}
    }
