
<table class="table table-bordered table-advance table-hover dataTable">
<tbody>
    {% for job in process.getJobs %}
        <tr class="{% if job.status==1 %} success{% endif %}{% if job.status==8 %} danger{% endif %}">
            <td style="width:5%;"><span class="row-details {% if job.status==1 or job.status==8 %}row-details-open{% else %}row-details-close{% endif %}"></span></td>
            <td>{{ 'waev.rabbitmq.job'|trans }}: {{ job.id }}</td>
            <td>{{ 'waev.rabbitmq.duration'|trans }} {{ 'waev.rabbitmq.seconds'|transchoice(job.duration) }}</td>
            <td>{{ ('waev.rabbitmq.status' ~ job.status)|trans }} ({{job.status}})</td>
        </tr>
        <tr class="row-details-block{% if job.status==1 %} success{% endif %}{% if job.status==8 %} danger{% endif %}" {% if job.status==1 or job.status==8 %}style="display: table-row;"{% endif %}>
            <td colspan="4">
                <table class="table table-striped table-bordered table-advance table-hover dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'waev.rabbitmq.id'|trans }}</th>
                            <th>{{ 'waev.rabbitmq.class'|trans }}</th>
                            <th>{{ 'waev.rabbitmq.parameters'|trans }}</th>
                            <th>{{ 'waev.rabbitmq.duration'|trans }}</th>
                            <th>{{ 'waev.rabbitmq.status'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                <tbody>
                {% for task in job.getTasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.class }}</td>
                    <td>{% for p,v in task.getParamsArray %}{{ p }} = {{ v }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ 'waev.rabbitmq.seconds'|transchoice(task.duration) }}</td>
                    <td>{{ ('waev.rabbitmq.status' ~ task.status)|trans }} ({{task.status}})</td>
                    <td><a href="{{ path('project_taskInfo',{'taskId': task.id} ) }}" data-toggle="modal" title="{{ 'waev.rabbitmq.details'|trans }}"><i class="fa fa-reorder"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
