
<div class="form-horizontal form-view">
    <div class="form-body">
      {{ metronic.formViewRow('waev.rabbitmq.process_id'|trans, process.id) }}
      {{ metronic.formViewRow('waev.rabbitmq.active'|trans, process.active|boolToText) }}
      {{ metronic.formViewRow('waev.rabbitmq.status'|trans, ('waev.rabbitmq.status' ~ process.status)|trans) }}
      {{ metronic.formViewRow('waev.rabbitmq.number_of_jobs'|trans, process.getNumOfJobs) }}
      {{ metronic.formViewRow('waev.rabbitmq.number_of_jobs_done'|trans, process.getNumOfJobsDone) }}
      {% if process.getStartedAt() %}
          {{ metronic.formViewRow('waev.rabbitmq.started_at'|trans, process.getStartedAt()|date('d/m/y H:i:s')) }}
      {% else %}
          {{ metronic.formViewRow('waev.rabbitmq.started_at'|trans, '') }}
      {% endif %}
      {% if process.getEndedAt() %}
          {{ metronic.formViewRow('waev.rabbitmq.ended_at'|trans, process.getEndedAt()|date('d/m/y H:i:s')) }}
      {% else %}
          {{ metronic.formViewRow('waev.rabbitmq.ended_at'|trans, '') }}
      {% endif %}
      {{ metronic.formViewRow('waev.rabbitmq.duration'|trans, 'waev.rabbitmq.seconds'|transchoice(process.duration)) }}
  </div>
</div>
