    <div class="navbar navbar-default" role="navigation">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">{{ 'waev.rabbitmq.process'|trans }}</span>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('project_processInit', {'prjId': project.getId}) }}" class="modal-confirm" confirm-message="{{'waev.rabbitmq.are_you_sure_process_init'|trans}}">{{ 'waev.rabbitmq.process_init'|trans }}</a></li>
            {% if process %}
                {% if process.status>constant('Slx\\RabbitMqBundle\\Rabbitmq\\RabbitMqConstants::PROC_STATUS_RUNNING') or not process.active %}
                    <li><a href="{{ path('project_processDelete', {'pId': process.getId}) }}" class="modal-confirm" confirm-message="{{'waev.rabbitmq.process_will_be_deleted'|trans}}">{{ 'waev.rabbitmq.delete'|trans }}</a></li>
                    <li><a href="{{ path('project_processDeleteAll', {'prjId': project.getId}) }}" class="modal-confirm" confirm-message="{{'waev.rabbitmq.all_process_will_be_deleted'|trans}}">{{ 'waev.rabbitmq.delete_all'|trans }}</a></li>
                {% endif %}
                {% if process.status==constant('Slx\\RabbitMqBundle\\Rabbitmq\\RabbitMqConstants::PROC_STATUS_RUNNING') %}
                    <li><a href="{{ path('project_processCancel', {'pId': process.getId}) }}" class="modal-confirm" confirm-message="{{'waev.rabbitmq.process_will_be_canceled'|trans}}">{{ 'waev.rabbitmq.cancel'|trans }}</a></li>
                {% endif %}
                {% if process.active and process.status==constant('Slx\\RabbitMqBundle\\Rabbitmq\\RabbitMqConstants::PROC_STATUS_FAILED') %}
                    <li><a href="{{ path('project_processResume', {'pId': process.getId}) }}" class="modal-confirm" confirm-message="{{'waev.rabbitmq.process_will_be_resumed'|trans}}">{{ 'waev.rabbitmq.resume'|trans }}</a></li>
                {% endif %}
            {% endif %}
            {% if oldProcesses %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'waev.rabbitmq.previous_processes'|trans }} <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                    {% for oprocess in oldProcesses %}
                        {% if oprocess.active %}
                            <li><a href="{{ path('project_processInfo', {'prjId': oprocess.getProjectId}) }}" >{{ 'waev.rabbitmq.current_process'|trans }} ({{ oprocess.id }})</a></li>
                        {% else %}
                            <li><a href="{{ path('project_processInfo', {'prjId': oprocess.getProjectId, 'pId': oprocess.id}) }}" >{{ 'waev.rabbitmq.process'|trans }} {{ oprocess.id }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                 </li>
            {% endif %}

          </ul>
       </div>
       <!-- /.navbar-collapse -->
    </div>

