{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ project.pname }} - Process information{% endblock %}

{% block portletTools %}
    <li><a href="{{ path('project_show', { 'id': project.id }) }}" ><i class="fa fa-table"></i> {{ 'gitminer.project.project'|trans }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('project') }}" ><i class="fa fa-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
    
    {% include 'SlxRabbitMqBundle:MqProcessInfo:_processNavBar.html.twig' %}
    
    <ul class="nav nav-tabs">
      <li><a href="#tab_1_0" data-toggle="tab">{{ 'waev.rabbitmq.project'|trans }}</a></li>    
      <li class="active"><a href="#tab_1_1" data-toggle="tab">{{ 'waev.rabbitmq.process'|trans }}</a></li>    
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tab_1_0">
          {% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': project} only %}
      </div>
      <div class="tab-pane active" id="tab_1_1">
            {% if process %}
                {% include 'SlxRabbitMqBundle:MqProcessInfo:_processStatus.html.twig' %}
            {% else %}
                <p>{{ 'waev.rabbitmq.no_processes_for_project'|trans }}</p>
            {% endif %}          
      </div>
    </div>

    <hr />
    {% if process %}
        {% include 'SlxRabbitMqBundle:MqProcessInfo:_jobInfo.html.twig' %}
    {% endif %}
{% endblock portlet_body %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            $("tr td .row-details").click(function() { 
                var ctrl = $(this);
                var pr = ctrl.closest('tr').next('tr');
                if( ctrl.hasClass('row-details-close') ) {
                    ctrl.removeClass('row-details-close').addClass('row-details-open');
                    pr.show();
                }
                else {
                    ctrl.removeClass('row-details-open').addClass('row-details-close');
                    pr.hide();
                }
                
            });
        });
    </script>

{% endblock %}