{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{ 'waev.rabbitmq.task_info'|trans }}</h4>
    </div>
    <div class="modal-body">

    <div class="form-horizontal form-view">
        <div class="form-body">
          {{ metronic.formViewRow('waev.rabbitmq.id'|trans, task.id) }}
          {{ metronic.formViewRow('waev.rabbitmq.task_command'|trans, task.class) }}
          {% set foo %}<table>{% for p,v in task.getParamsArray %}<tr><td>{{ p }}</td><td> = </td><td>{{ v }}</td></tr>{% endfor %}</table>{% endset %}
          {{ metronic.formViewRow('waev.rabbitmq.parameters'|trans, foo) }}
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_task_output" data-toggle="tab">{{ 'waev.rabbitmq.task_output'|trans }}</a></li>    
      <li><a href="#tab_task_erroroutput" data-toggle="tab">{{ 'waev.rabbitmq.task_errorOutput'|trans }}</a></li>    
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_task_output">
          <div style="height:300px; overflow: auto;">{{ task.output|nl2br }}</div>
      </div>
      <div class="tab-pane" id="tab_task_erroroutput">
          <div style="height:300px; overflow: auto;">{{ task.errorOutput|nl2br }}</div>
      </div>
    </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->