{{ metronic.dataTablePre() }}
<thead>
  <tr>
      {{ metronic.dataTableTh('gitminer.metrics.metric') }}
      {{ metronic.dataTableTh('gitminer.metrics.value') }}
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{ 'gitminer.metrics.ca'|trans }}</td>
    <td>{{ class.ca }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.cbo'|trans }}</td>
    <td>{{ class.cbo }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.ce'|trans }}</td>
    <td>{{ class.ce }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.cis'|trans }}</td>
    <td>{{ class.cis }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.cloc'|trans }}</td>
    <td>{{ class.cloc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.cr'|trans }}</td>
    <td>{{ class.cr }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.csz'|trans }}</td>
    <td>{{ class.csz }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.dit'|trans }}</td>
    <td>{{ class.dit }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.eloc'|trans }}</td>
    <td>{{ class.eloc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.impl'|trans }}</td>
    <td>{{ class.impl }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.lloc'|trans }}</td>
    <td>{{ class.lloc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.loc'|trans }}</td>
    <td>{{ class.loc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.ncloc'|trans }}</td>
    <td>{{ class.ncloc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.noam'|trans }}</td>
    <td>{{ class.noam }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.nocc'|trans }}</td>
    <td>{{ class.nocc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.nom'|trans }}</td>
    <td>{{ class.nom }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.noom'|trans }}</td>
    <td>{{ class.noom }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.npm'|trans }}</td>
    <td>{{ class.npm }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.rcr'|trans }}</td>
    <td>{{ class.rcr }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.vars'|trans }}</td>
    <td>{{ class.vars }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.varsi'|trans }}</td>
    <td>{{ class.varsi }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.varsnp'|trans }}</td>
    <td>{{ class.varsnp }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.wmc'|trans }}</td>
    <td>{{ class.wmc }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.wmci'|trans }}</td>
    <td>{{ class.wmci }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.wmcnp'|trans }}</td>
    <td>{{ class.wmcnp }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.ccn'|trans }}</td>
    <td>{{ class.ccn }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.ccn2'|trans }}</td>
    <td>{{ class.ccn2 }}</td>
  </tr>
  <tr>
    <td>{{ 'gitminer.metrics.npath'|trans }}</td>
    <td>{{ class.npath }}</td>
  </tr>
</tbody>
  {{ metronic.dataTablePost() }}