{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('T') }}
      {{ metronic.dataTableTh('gitminer.projecttag.name', pagination, 'a.cname') }}
      {{ metronic.dataTableTh('gitminer.metrics.nom', pagination, 'a.nom') }}
      {{ metronic.dataTableTh('gitminer.metrics.loc', pagination, 'a.loc') }}
      {{ metronic.dataTableTh('gitminer.metrics.npm', pagination, 'a.npm') }}
    </tr>
  </thead>
  <tbody>
    {% for class in pagination %}
      <tr>
        <td>
            <img src="{{ asset('bundles/slxgitminer/images/class.png') }}" />
        </td>
        <td>
              <a href="{{ path('projectTag_class', {'projectId': project.id, 'tagId': tag.id, 'fileId': class.projectFile.id, 'classname': class.cname}) }}">{{ class.cname }}</a>
        </td>
        <td>{{ class.nom }}</td>
        <td>{{ class.loc }}</td>
        <td>{{ class.npm }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost(pagination) }}
