{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('T') }}
      {{ metronic.dataTableTh('gitminer.projecttag.name') }}
      {{ metronic.dataTableTh('gitminer.metrics.cloc') }}
      {{ metronic.dataTableTh('gitminer.metrics.lloc') }}
      {{ metronic.dataTableTh('gitminer.metrics.loc') }}
      {{ metronic.dataTableTh('gitminer.metrics.ncloc') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccn') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccn2') }}
      {{ metronic.dataTableTh('gitminer.metrics.npath') }}
    </tr>
  </thead>
  <tbody>
    {% for content in contents %}
      <tr>
        <td>
            {% if content.ctype=='function' %}<img src="{{ asset('bundles/slxgitminer/images/function.png') }}" />
            {% elseif content.ctype=='method' %}<img src="{{ asset('bundles/slxgitminer/images/method.png') }}" />
            {% elseif content.ctype=='class' %}<img src="{{ asset('bundles/slxgitminer/images/class.png') }}" />
            {% elseif content.ctype=='interface' %}<img src="{{ asset('bundles/slxgitminer/images/interface.png') }}" />
            {% endif %}
            {% if content.ctype=='function' %}<a href="{{ path('projectTag_functionHistory', {'projectId': project.id, 'tagId': tag.id, 'fileId': file.id, 'form[title]':content.cname}) }}" title="History"><i class="fa fa-list "></i></a>{% endif %}
        </td>
        <td>{% if content.ctype=='class' %}
              <a href="{{ path('projectTag_class', {'projectId': tag.project.id, 'tagId': tag.id, 'fileId': file.id, 'classname': content.cname}) }}">{{ content.cname }}</a>
            {% else %}
              {{ content.cname }}
            {% endif %}
        </td>
        <td>{{ content.cloc }}</td>
        <td>{{ content.lloc }}</td>
        <td>{{ content.loc }}</td>
        <td>{{ content.ncloc }}</td>
        <td>{{ content.ccn }}</td>
        <td>{{ content.ccn2 }}</td>
        <td>{{ content.npath }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost() }}
