  
<h4>{{ 'gitminer.projecttag.file_metrics'|trans }} {{ file.fname }} <a href="https://github.com/{{ project.owner }}/{{ project.pname }}/blob/{{tag.tag}}{{file.fname}}" target="_blank" title="view file in gitHub"><i class="fa fa-github"></i></a></h4>
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('gitminer.metrics.metric') }}
      {{ metronic.dataTableTh('gitminer.metrics.value') }}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'gitminer.metrics.loc'|trans }}</td>
      <td>{{ file.loc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.lloc'|trans }}</td>
      <td>{{ file.lloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.eloc'|trans }}</td>
      <td>{{ file.eloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.cloc'|trans }}</td>
      <td>{{ file.cloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ncloc'|trans }}</td>
      <td>{{ file.ncloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.llocGlobal'|trans }}</td>
      <td>{{ file.llocGlobal }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ccn2Global'|trans }}</td>
      <td>{{ file.ccn2Global }}</td>
    </tr>
  </tbody>
  {{ metronic.dataTablePost() }}
  
  