{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('T') }}
      {{ metronic.dataTableTh('gitminer.projecttag.name') }}
      {{ metronic.dataTableTh('gitminer.metrics.loc') }}
      {{ metronic.dataTableTh('gitminer.metrics.cloc') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccn') }}
      {{ metronic.dataTableTh('gitminer.metrics.fanin') }}
      {{ metronic.dataTableTh('gitminer.metrics.fanout') }}
    </tr>
  </thead>
  <tbody>
    {% for function in pagination %}
      <tr>
        <td>
            <img src="{{ asset('bundles/slxgitminer/images/function.png') }}" />
            <a href="{{ path('projectTag_functionHistory', {'projectId': project.id, 'tagId': tag.id, 'fileId': function.file_id, 'form[title]':function.cname}) }}" title="History"><i class="fa fa-list "></i></a>
        </td>
        <td>
              <a href="{{ path('projectTag_file', {'projectId': project.id, 'tagId': tag.id, 'fileId': function.file_id}) }}">{{ function.cname }}</a>
        </td>
        <td>{{ function.loc }}</td>
        <td>{{ function.cloc }}</td>
        <td>{{ function.ccn }}</td>
        <td>{{ function.fanin }}</td>
        <td>{{ function.fanout }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost(pagination) }}
  