{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('T') }}
      {{ metronic.dataTableTh('gitminer.projecttag.name') }}
      {{ metronic.dataTableTh('gitminer.metrics.loc') }}
      {{ metronic.dataTableTh('gitminer.metrics.llocGlobal') }}
      {{ metronic.dataTableTh('gitminer.metrics.clocGlobal') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccnGlobal') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccn2Global') }}
    </tr>
  </thead>
  <tbody>
    {% set clr = '/' %}
    {% if dir %}{% set clr = dir.fname ~ '/' %}{% endif %}
    {% for cdir in dirList %}
      {% if cdir.fname!='/' %}
      <tr>
        <td><i class="fa fa-folder" /></td>
        <td><a href="{{ path('projectTag_dir', {'projectId': tag.project.id, 'tagId': tag.id, 'dirId': cdir.id}) }}">{{ cdir.fname|replace({(clr):''}) }}</a></td>
        <td colspan="5">&nbsp;</td>
      </tr>
      {% endif %}
    {% endfor %}
    {% for file in fileList %}
      <tr>
        <td><i class="fa fa-file-text" /></td>
        <td><a href="{{ path('projectTag_file', {'projectId': tag.project.id, 'tagId': tag.id, 'fileId': file.id}) }}">{{ file.fname|replace({(clr):''}) }}</a></td>
        <td>{{ file.loc }}</td>
        <td>{{ file.llocGlobal }}</td>
        <td>{{ file.clocGlobal }}</td>
        <td>{{ file.ccnGlobal }}</td>
        <td>{{ file.ccn2Global }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost() }}
