<p><a href="{{ path('project_show', {'id': project.id}) }}#tab_1_1">{{ project.pname }}</a> / 
  <a href="{{ path('projectTag', {'projectId': project.id, 'tagId': tag.id}) }}">{{ tag.tag }}</a>{% if folders is defined and folders %} / {% endif %}
  {% set clr='/' %}
  {% if folders is defined and folders %}
    {% for folder in folders %}
      {% set fn = folder.fname|replace({(clr): ''}) %}
      {% if fn %}
        <a href="{{ path('projectTag_dir', {'projectId': project.id, 'tagId': tag.id, 'dirId': folder.id }) }}">{{ fn }}</a>{% if not loop.last %} / {% endif %}
        {% set clr = folder.fname ~ '/' %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if classname is defined %}
    / <a href="{{ path('projectTag_file', {'projectId': project.id, 'tagId': tag.id, 'fileId': file.id }) }}">{{ file.fname|replace({(clr): ''}) }}</a>
    / {{ classname }}
  {% else %}
    {% if file is defined and file %} / {{ file.fname|replace({(clr): ''}) }}{% endif %}
  {% endif %}
    
  {% if classes_view is defined %}
    / {{ 'gitminer.projecttag.classes'|trans }}
  {% endif %}
    
  {% if functions_view is defined %}
    / {{ 'gitminer.projecttag.functions'|trans }}
  {% endif %}
</p>

