
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('gitminer.metrics.metric') }}
      {{ metronic.dataTableTh('gitminer.metrics.value') }}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ 'gitminer.metrics.loc'|trans }}</td>
      <td>{{ tag.loc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.lloc'|trans }}</td>
      <td>{{ tag.lloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.eloc'|trans }}</td>
      <td>{{ tag.eloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.cloc'|trans }}</td>
      <td>{{ tag.cloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ncloc'|trans }}</td>
      <td>{{ tag.ncloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.calls'|trans }}</td>
      <td>{{ tag.calls }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ccn'|trans }}</td>
      <td>{{ tag.ccn }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ccn2'|trans }}</td>
      <td>{{ tag.ccn2 }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.clsa'|trans }}</td>
      <td>{{ tag.clsa }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.clsc'|trans }}</td>
      <td>{{ tag.clsc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.fanout'|trans }}</td>
      <td>{{ tag.fanout }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.leafs'|trans }}</td>
      <td>{{ tag.leafs }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.ncloc'|trans }}</td>
      <td>{{ tag.ncloc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.noc'|trans }}</td>
      <td>{{ tag.noc }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.nof'|trans }}</td>
      <td>{{ tag.nof }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.noi'|trans }}</td>
      <td>{{ tag.noi }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.nom'|trans }}</td>
      <td>{{ tag.nom }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.nop'|trans }}</td>
      <td>{{ tag.nop }}</td>
    </tr>
    <tr>
      <td>{{ 'gitminer.metrics.roots'|trans }}</td>
      <td>{{ tag.roots }}</td>
    </tr>
  </tbody>
  {{ metronic.dataTablePost() }}