
  <li><a href="{{ path('projectTag_classes', {'projectId': project.id, 'tagId':tag.id}) }}" ><i class="icon-table"></i>{{ 'gitminer.projecttag.classes'|trans }}</a></li>
  <li><a href="{{ path('projectTag_functions', {'projectId': project.id, 'tagId':tag.id}) }}" ><i class="icon-table"></i>{{ 'gitminer.projecttag.functions'|trans }}</a></li>
  <li><a href="{{ path('projectTag', {'projectId': project.id, 'tagId':tag.id}) }}" ><i class="icon-table"></i>{{ 'gitminer.projecttag.files'|trans }}</a></li>
