{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ project.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:ProjectTag:_viewTypeMenu.html.twig' %}
{% endblock portletTools %}

{% set caption = 'gitminer.project.explore'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}

<ul class="nav nav-tabs">
    <li><a href="#tab_1_0" data-toggle="tab">{{ 'Project'|trans }}</a></li>    
    <li><a href="#tab_1_1" data-toggle="tab">{{ 'gitminer.projecttag.file_metrics'|trans }}</a></li> 
    {% if class is defined %}
    <li><a href="#tab_1_3" data-toggle="tab">{{ 'gitminer.projecttag.class_metrics'|trans }}</a></li> 
    {% endif %}
    <li class="active"><a href="#tab_1_2" data-toggle="tab">{{ 'gitminer.projecttag.file_contents'|trans }}</a></li>    
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab_1_0">
      {% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': project} only %}
    </div>
    <div class="tab-pane" id="tab_1_1">
      {% include 'SlxGitMinerBundle:ProjectTag:_fileMetrics.html.twig' %}
    </div>
    {% if class is defined %}
    <div class="tab-pane" id="tab_1_3">
      {% include 'SlxGitMinerBundle:ProjectTag:_classMetrics.html.twig' %}
    </div>
    {% endif %}
    <div class="tab-pane active" id="tab_1_2">
      {% include 'SlxGitMinerBundle:ProjectTag:_fileList.html.twig' %}
    </div>
  </div>

{% endblock portlet_body %}

