{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ project.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:ProjectTag:_viewTypeMenu.html.twig' %}
{% endblock portletTools %}

{% set caption = 'gitminer.projecttag.functions'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
    <form action="{{ path('projectTag_functions', {'projectId':project.id, 'tagId':tag.id}) }}" class="form-horizontal" method="GET">
      <div class="form-body">
    {{ form_widget(filterForm) }}
      </div>
            <div class="form-actions">
              {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
              {{ metronic.abuttonBlue('gsprod.general.reset', path('projectTag_functions', {'projectId':project.id, 'tagId':tag.id}), null, null, 'reset_filter') }}
            </div>
        </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}

{% block portlet_body -%}

  <ul class="nav nav-tabs">
    <li><a href="#tab_1_0" data-toggle="tab">{{ 'Project'|trans }}</a></li>    
    <li class="active"><a href="#tab_1_2" data-toggle="tab">{{ 'gitminer.projecttag.file_contents'|trans }}</a></li>    
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab_1_0">
      {% include 'SlxGitMinerBundle:Project:_showProject.html.twig' with {'entity': project} only %}
    </div>
    <div class="tab-pane active" id="tab_1_2">
      {% include 'SlxGitMinerBundle:ProjectTag:_functionsList.html.twig' %}
    </div>
  </div>

{% endblock portlet_body %}

