{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}
  {{ metronic.dataTablePre() }}
  <thead>
    <tr>
      {{ metronic.dataTableTh('T') }}
      {{ metronic.dataTableTh('gitminer.projectTagFunctions.tag') }}
      {{ metronic.dataTableTh('gitminer.projecttag.name') }}
      {{ metronic.dataTableTh('gitminer.metrics.loc') }}
      {{ metronic.dataTableTh('gitminer.metrics.cloc') }}
      {{ metronic.dataTableTh('gitminer.metrics.ccn') }}
      {{ metronic.dataTableTh('gitminer.metrics.fanin') }}
      {{ metronic.dataTableTh('gitminer.metrics.fanout') }}
      {{ metronic.dataTableTh('gitminer.projecttag.signature') }}
      {{ metronic.dataTableTh('gitminer.projecttag.file') }}
    </tr>
  </thead>
  <tbody>
    {% for function in classes %}
      <tr>
        <td>
            <img src="{{ asset('bundles/slxgitminer/images/function.png') }}" />
        </td>
        <td>{{ function.tag }}</td>
        <td>
              <a href="{{ path('projectTag_file', {'projectId': project.id, 'tagId': function.project_tag_id, 'fileId': function.project_file_id}) }}">{{ function.cname }}</a>
        </td>
        <td>{{ function.loc }}</td>
        <td>{{ function.cloc }}</td>
        <td>{{ function.ccn }}</td>
        <td>{{ function.fanin }}</td>
        <td>{{ function.fanout }}</td>
        <td>{{ function.signature }}</td>
        <td>{{ function.fname }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {{ metronic.dataTablePost() }}
  <p>{{ classes|length }}</p>