{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'gitminer.project.project'|trans }} - {{ project.pname }}{% endblock %}

{% block portletTools %}
{% include 'SlxGitMinerBundle:Project:_showMenu.html.twig' with {'entity': project} only %}
{% endblock portletTools %}

{% set caption = 'gitminer.projecttag.function_history'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}
    <form action="{{ path('projectTag_functionHistory', {'projectId':project.id}) }}" class="form-horizontal" method="GET">
      <div class="form-body">
    {{ form_widget(filterForm) }}
      </div>
            <div class="form-actions">
              {{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}
              {{ metronic.abuttonBlue('gsprod.general.reset', path('projectTag_functionHistory', {'projectId':project.id}), null, null, 'reset_filter') }}
            </div>
        </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}

{% block portlet_body -%}

{% include 'SlxGitMinerBundle:ProjectTagFunctions:_functionHistoryList.html.twig' %}

{% endblock portlet_body %}

