{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}User{% endblock %}

{% block portletTools %}
<li><a href="{{ path('user_edit', { 'id': entity.id }) }}" 
       ><i class="fa fa-pencil"></i> {{ 'gsprod.general.edit'|trans }}</a></li>
<li><a href="{{ url('user_delete', { 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'gsprod.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'gsprod.general.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('user') }}" ><i class="fa fa-table"></i>{{ 'gsprod.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'gsprod.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">   
    <div class="form-body">
      {{ metronic.formViewRow('users.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('users.user.username'|trans, entity.username) }}
      {{ metronic.formViewRow('users.user.email'|trans, entity.email) }}
      {{ metronic.formViewRow('users.user.active'|trans, entity.isActive|boolToText) }}
    <h3 class="form-section">{{ 'users.user.role'|trans }}</h3>
    {% set roles = entity.getRoles %}
    {{ metronic.dataTablePre() }}
    <thead>
          <tr>
            <th class="span4">{{ 'users.user.role'|trans }}</th>
          </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
              <td>{{role.getName() }}</td>
            </tr>
            {% endfor %}
          </tbody>
     </table>
    </div>
</div>
{% endblock portlet_body %}
