  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}Welcome{% endblock %}

{% set caption = 'Welcome' %}

  {% block portletTools %}{% endblock portletTools %}


{% block filter_form %}
{% endblock %}

      
{% block portlet_body -%}
{{ render(controller('SlxBlogBundle:Blog:recentPosts', {'max': 3})) }}
{% endblock %}