{% block root %}
  <ul class="breadcrumb">
    {% if item.getCurrentItem %}
      {%- for  label,url in item.getCurrentItem.getBreadcrumbsArray %}
        {% if label == 'root' %}
          <li>
              <i class="icon-home"></i>
              <a href="{{ url }}">Home</a> 
              <i class="icon-angle-right"></i>
          </li>      
        {% else %}
          <li><a href="{{ url }}">{{ label | trans }}</a>
          {%- if not loop.last %}<i class="icon-angle-right"></i>{%- endif %}
          </li>
        {% endif %}
      {%- endfor %}
    {% else %}
      <li>
          <i class="icon-home"></i>
          <a href="{{ path('slx_gsprod_homepage') }}">Home</a> 
      </li>                
    {% endif %}
  </ul>
{% endblock %}