{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% set noSpanLabel = 0 %}
    {{ block('children') }}
{% endif %}
{% endblock %}

{% block list_sub %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% set noSpanLabel = 1 %}
<ul class="sub-menu">
    {{ block('children') }}
  </ul>
{% endif %}
{% endblock %}

{% block children %}
  {# save current variables #}
  {% set currentOptions = options %}
  {% set currentItem = item %}
  {# update the depth for children #}
  {% if options.depth is not none %}
  {% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
  {% endif %}
  {% for item in currentItem.children %}
    {{ block('item') }}
  {% endfor %}
  {# restore current variables #}
  {% set item = currentItem %}
  {% set options = currentOptions %}
{% endblock %}

{% block item %}
{% if item.displayed %}
{# building the class of the item #}

    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if item.current %}
        {%- set classes = classes|merge(['active']) %}
    {%- elseif item.currentAncestor %}
        {%- set classes = classes|merge(['active']) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
        {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}
    {%- set attributes = item.attributes %}
    {# unset bootstrap specific attributes #}
    {%- set attributes = attributes|merge({'icon': null }) %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
  <li{% if noSpanLabel==0 %}{% endif %}{{ _self.attributes(attributes) }}>
        {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
        {{ block('linkElement') }}
        {%- else %}
        {{ block('spanElement') }}
        {%- endif %}
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('list_sub') }}
    </li>
{% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>
    {% if item.attribute('icon') is not empty %}
        <i class="fa {{ item.attribute('icon') }}"></i>
    {% endif %}
    {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
  <a href="javascript:;">
  {% if item.attribute('icon') is not empty %}
      <i class="fa {{ item.attribute('icon') }}"></i>
  {% endif %}
  {% if noSpanLabel==1 %}
    {{ block('label_no_span') }}
  {% else %}
    {{ block('label') }}
  {% endif %}
  {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
      <span class="arrow "></span>
  {% endif %}
  </a>
{% endblock %}

{% block label %}<span class="title">{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}</span>{% endblock %}

{% block label_no_span %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}