<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN ABOUT -->                    
        <h2>About</h2>
        <p class="margin-bottom-30">This site contains datasets, diagrams and other information from our Web Application Evolution analysis.</p>
        <div class="clearfix"></div>                    
        <!-- END ABOUT -->                                      
      </div>
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN CONTACTS -->                                    
        <h2>Contact</h2>
        <address class="margin-bottom-40">
          prof. Alexander Chatzigeorgiou<br />
          Department of Applied Informatics<br />
          University of Macedonia<br />
          Thessaloniki, Greece<br />
          Greece <br />
          Email: <a href="mailto:achat@uom.gr">achat[at]uom[dot]gr</a>                        
        </address>
        <!-- END CONTACTS -->                                                                       
      </div>
      <div class="col-md-4 col-sm-4">
        &nbsp;
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p>
          <span class="margin-right-10">{% include 'SlxMetronicBundle::_copyright-line.html.twig' %} Version {% if app_version is defined %}{{ app_version }}{% else %}Define app_version in config.yml{% endif %}</span> 
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        &nbsp;
        <!--
        <ul class="social-footer">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
        </ul>                
        -->
      </div>
    </div>
  </div>
</div>
<!-- END COPYRIGHT -->
