  {% extends 'SlxMetronicBundle::admin.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'blogpost.edit.blog'|trans }}|{{ post.title }}{% endblock %}

{% block body %}
<div class="col-md-12 blog-page">
  <div class="row">
    <div class="col-md-9 article-block">
      <h3>{{ post.title }}</h3>
      <div class="blog-tag-data">
        <img src="{{ asset('uploads/media/'~post.image) }}" class="img-responsive" alt="">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-inline blog-tags">
              <li>
                <i class="fa fa-tags"></i>
                {% for tag in post.tags|split(',') %}
                <a href="#">{{ tag }}</a>
                {% endfor %}
              </li>
            </ul>
          </div>
          <div class="col-md-6 blog-tag-data-inner">
            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i><a href="#">{{ post.createdAt|date('d-m-Y H:i:s') }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end news-tag-data-->
      <div>
        <p>
          {{ post.content|nl2br }}
        </p>
      </div>
      <hr>
    </div>
    <!--end col-md-9-->
    <div class="col-md-3 blog-sidebar">
      <!-------------------------------------------->
      <h3>Blog Tags <small>to do</small></h3>
      <ul class="list-inline sidebar-tags">
        <li><a href="#"><i class="fa fa-tags"></i> Business</a></li>
      </ul>
      <div class="space20">
      </div>
      <!-------------------------------------------->
      <h3>Top Entiries <small>to do</small></h3>
      
      <div class="top-news">
        {% for i in 0..4 %}
        <a href="#" class="btn {{ cycle(['red', 'green', 'blue', 'yellow', 'purple'], i) }}">
          <span>
            Metronic News
          </span>
          <em>Posted on: April 16, 2013</em>
          <em>
            <i class="fa fa-tags"></i>
            Money, Business, Google </em>
          <i class="fa fa-briefcase top-news-icon"></i>
          {% endfor %}
        </a>
      </div>
      <div class="space20">
      </div>
      <!-------------------------------------------->
    </div>
  </div>
</div>
{% endblock %}