  {% extends 'SlxMetronicBundle::admin.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'blogpost.edit.blog_posts'|trans }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12 blog-page">
    <div class="row">
      <div class="col-md-9 col-sm-8 article-block">
        <h1>Latest Blog</h1>
{% for post in pagination %}
        <div class="row">
          <div class="col-md-4 blog-img blog-tag-data">
            <img src="{{ asset('uploads/media/'~post.image) }}" alt="" class="img-responsive">
            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i><a href="#">{{ post.createdAt|date('d-m-Y H:i:s') }}</a>
              </li>
            </ul>
            <ul class="list-inline blog-tags">
              <li>
                <i class="fa fa-tags"></i>
                {% for tag in post.tags|split(',') %}
                <a href="#">{{ tag }}</a>
                {% endfor %}
              </li>
            </ul>
          </div>
          <div class="col-md-8 blog-article">
            <h3><a href="{{ path('slx_blog_post', {'id': post.id}) }}">{{ post.title }}</a></h3>
            <p>
              {{ post.excerpt }}
            </p>
            <a class="btn blue" href="{{ path('slx_blog_post', {'id': post.id}) }}">
              Read more <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>
        </div>
        <hr>
{% endfor %}
      </div>
    </div>
  </div>
        {% if pagination is not null %}
        {{ knp_pagination_render(pagination) }}
        {% endif %}

</div>
{% endblock %}
