{% set quote = '"' %}
{% spaceless %}
{{- quote|raw -}}#{{- quote|raw -}},{% for label in report.getTabledDataLabels() %}{{- quote|raw -}}{{ label }}{{- quote|raw -}}{% if not loop.last %},{% endif %}{% endfor %}
{% endspaceless %}

{% for rec in report.getTabledData() %}{% spaceless %}
{{- quote|raw -}}{{ loop.index }}{{- quote|raw -}},{% for cell in rec %}{{- quote|raw -}}{{ cell }}{{- quote|raw -}}{% if not loop.last %},{% endif %}{% endfor %}{% endspaceless %}

{% endfor %}


