  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'graphrpt.edit.simple_chart_reports'|trans }}{% endblock %}

{% set caption = 'graphrpt.edit.list' %}

  {% block portletTools %}
    <li><a href="{{ path('simpleChartRpt_new') }}" ><i class="fa fa-plus"></i> {{ 'graphrpt.edit.add'|trans }}</a></li>
  {% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('graphrpt.edit.filter', 'yellow', 'form', 'filter') }}
    <form action="{{ path('simpleChartRpt') }}" class="form-horizontal" method="GET">
      <div class="form-body">
      {{ form_widget(filterForm) }}
      </div>
      <div class="form-actions">
        {{ metronic.button('graphrpt.edit.apply', 'submit', 'blue', 'ok') }}
      </div>
    </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}

      
{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
        <thead>
          <tr>
              {{ metronic.dataTableTh('graphrpt.edit.id', pagination, 'a.id') }}
              {{ metronic.dataTableTh('graphrpt.edit.title', pagination, 'a.title') }}
              {{ metronic.dataTableTh('graphrpt.edit.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">              
                    <td><a href="{{ path('simpleChartRpt_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>              
                    <td>{{ entity.title }}</td>
                    <td>
                      {{ metronic.dataTableAction('graphrpt.edit.view', path('simpleChartRpt_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('graphrpt.edit.edit', path('simpleChartRpt_edit', { 'id': entity.id }), 'blue') }}
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
