{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}{{ 'graphrpt.edit.simple_chart_report'|trans }}{% endblock %}

{% set caption = 'graphrpt.edit.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndAdd) }}               
    {{ metronic.abuttonBlue('graphrpt.edit.list', path('simpleChartRpt')) }}
{% endblock %}

{% block portlet_body -%}
    {% form_theme form 'SlxMetronicBundle:Form:collection.html.twig' %}
    <form action="{{ path('simpleChartRpt_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
      {{ form_errors(form) }}
      {{ form_row(form.title) }}
      {{ form_row(form.category) }}
      {{ form_row(form.query) }}
      {{ form_row(form.xname) }}
      {{ form_row(form.xColumnName) }}
      {{ form_row(form.description) }}
      <h3  class="form-section">{{ 'graphrpt.edit.bindings'|trans }}</h3>
      {{ form_widget(form.qparams) }}
      <h3  class="form-section">{{ 'graphrpt.edit.series'|trans }}</h3>
      {{ form_widget(form.series) }}
      {{ form_rest(form) }}
      </div>
{% endblock portlet_body %}
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/slxmetronic/js/collection-edit.js') }}"></script>
{% endblock javascripts %}
