{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}

{% block page_title %}{{ 'graphrpt.edit.simple_chart_report'|trans }}{% endblock %}
{% block portletTools %}
<li><a href="{{ url('simpleChartRpt_edit', { 'id': entity.id }) }}" 
       ><i class="fa fa-pencil"></i> {{ 'graphrpt.edit.edit'|trans }}</a></li>
<li><a href="{{ url('simpleChartRpt_delete', { 'id': entity.id }) }}" 
       class="modal-confirm" 
       confirm-message="{{'graphrpt.edit.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'graphrpt.edit.delete'|trans }}</a></li>
<li><a href="{{ url('simpleChartRpt_clone', { 'id': entity.id }) }}" 
       ><i class="fa fa-trash-o"></i> {{ 'graphrpt.edit.clone'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('simpleChartRpt') }}" ><i class="fa fa-table"></i> {{ 'graphrpt.edit.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = 'graphrpt.edit.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">
    <div class="form-body">
      <h3 class="form-section">{{ 'graphrpt.edit.general'|trans }}</h3>
      {{ metronic.formViewRow('graphrpt.edit.id'|trans, entity.id) }}
      {{ metronic.formViewRow('graphrpt.edit.title'|trans, entity.title) }}
      {{ metronic.formViewRow('graphrpt.edit.category'|trans, entity.category) }}
      {{ metronic.formViewRow('graphrpt.edit.query'|trans, entity.query) }}
      {{ metronic.formViewRow('graphrpt.edit.xname'|trans, entity.xname) }}
      {{ metronic.formViewRow('graphrpt.edit.xColumnName'|trans, entity.xColumnName) }}
      {{ metronic.formViewRow('graphrpt.edit.description'|trans, entity.description) }}
      <h3 class="form-section">{{ 'graphrpt.edit.bindings'|trans }}</h3>
    {{ metronic.dataTablePre() }}
        <thead>
          <tr>
              {{ metronic.dataTableTh('graphrpt.edit.qParam') }}
              {{ metronic.dataTableTh('graphrpt.edit.inParam') }}
          </tr>
        </thead>
        <tbody>
        {% for itm in entity.getQParams %}
            <tr class="odd gradeX">              
                    <td>{{ itm.qParam }}</td>
                    <td>{{ itm.inParam }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {{ metronic.dataTablePost() }}    
        
  <h3 class="form-section">{{ 'graphrpt.edit.series'|trans }}</h3>
    {{ metronic.dataTablePre() }}
        <thead>
          <tr>
              {{ metronic.dataTableTh('graphrpt.edit.yname') }}
              {{ metronic.dataTableTh('graphrpt.edit.yColumnName') }}
              {{ metronic.dataTableTh('graphrpt.edit.label') }}
          </tr>
        </thead>
        <tbody>
        {% for itm in entity.getSeries %}
            <tr class="odd gradeX">              
                    <td>{{ itm.yname }}</td>
                    <td>{{ itm.yColumnName }}</td>
                    <td>{{ itm.label }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {{ metronic.dataTablePost() }} 
    </div>
</div>
{% endblock portlet_body %}
