{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}


{% block page_title %}Role create{% endblock %}

{% set caption = 'gsprod.general.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ form_widget(form.saveAndAdd) }}
  {{ metronic.abuttonBlue('gsprod.general.back_to_list', path('roles')) }}
{% endblock %}

{% block portlet_body -%}

    <form action="{{ path('roles_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal">
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}
