{% block extends %}
{{ "{% extends 'SlxMetronicBundle::portletpage.html.twig' %}" }}
{{ "{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}" }}
{% endblock extends %}

{% block body %}
    
    {{ "{% block page_title %}" ~ entity ~ " edit{% endblock %}" }}
    {{ "{% block portletTools %}" }}
        <li><a href="{{ "{{ url('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" 
               class="modal-confirm" 
               confirm-message="{{ "{{'gsprod.general.record_will_be_deleted'|trans}}" }}"><i class="icon-trash"></i> {{ "{{ 'gsprod.general.delete'|trans }}" }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" ><i class="icon-table"></i>{{ "{{ 'gsprod.general.list'|trans }}" }}</a></li>
    {{ "{% endblock portletTools %}" }}

{{ "{% set caption = 'gsprod.general.edit'|trans %}" }}
{{ "{% set isForm = true %}" }}
{{ "{% set portletIcon = 'pencil' %}" }}

    {{ '{% block formActions %}' }}
      {{ "{{ form_widget(edit_form.save) }}" }}
      {{ "{{ form_widget(edit_form.saveAndAdd) }}" }}
      {{ "{{ metronic.abuttonBlue('gsprod.general.back_to_list', path('" ~ route_name_prefix ~ "')) }}" }}
    {{ '{% endblock %}' }}
            
    {{ "{% block portlet_body -%}" }}
    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}" }}" method="POST" {{ "{{ form_enctype(edit_form) }}" }} class="form-horizontal">
        <input type="hidden" name="_method" value="POST" />
        {{ "{{ form_widget(edit_form) }}" }}
    {{ "{% endblock portlet_body %}" }}

{% endblock body %}
