{% block extends %}
  {{ "{% extends 'SlxMetronicBundle::portletpage.html.twig' %}" }}
  {{ "{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block page_title %}" ~ entity ~ " list{% endblock %}" }}

{{ "{% set caption = '" ~ entity ~ " list' %}" }}

{% if 'new' in actions %}
  {{ "{% block portletTools %}" }}
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" ><i class="icon-plus"></i> {{ "{{ 'gsprod.general.add'|trans }}" }}</a></li>
    {{ "{{ metronic.exportCsvToolLink() }}" }}
  {{ "{% endblock portletTools %}" }}
{% endif %}


{{ "{% block filter_form %}" }}
  {{ "{% if filterForm is defined %}" }}
    {{ "{{ metronic.portletPre('gsprod.general.filter', 'yellow', 'form', 'filter') }}" }}
    <form action="{{ "{{ path('" ~ route_name_prefix ~"') }}" }}" class="form-horizontal" method="GET">
    {{ "{{ form_widget(filterForm) }}" }}
            <div class="form-actions">
              {{ "{{ metronic.button('gsprod.general.apply', 'submit', 'blue', 'ok') }}" }}
            </div>
        </form>
    {{ "{{ metronic.portletPost() }}" }}
  {{ "{% endif %}" }}
{{ "{% endblock %}" }}

      
{{ "{% block portlet_body -%}" }}

    {{ "{{ metronic.dataTablePre() }}" }}
        <thead>
          <tr>
            {% for field, metadata in fields %}
              {%- if not ('created_at' in field or 'updated_at' in field) %}
                {{ "{{ metronic.dataTableTh('" ~ field|capitalize ~ "', pagination, 'a." ~ field ~ "') }}" }}
              {%- endif %}
            {% endfor %}
            {{ "{{ metronic.dataTableTh('gsprod.general.actions') }}" }}
          </tr>
        </thead>
        <tbody>
        {{ "{% for entity in pagination %}" }}
            <tr class="odd gradeX">

            {%- for field, metadata in fields %}
              {% if not ('created_at' in field or 'updated_at' in field) %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}
              {%- endif %}
                {%- if loop.last %}

                    <td>
                      {{ "{{ metronic.dataTableAction('gsprod.general.view', path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }), 'green') }}" }}
                      {{ "{{ metronic.dataTableAction('gsprod.general.edit', path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }), 'blue') }}" }}
                    </td>

                {%- endif %}
            {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    {{ "{{ metronic.dataTablePost(pagination) }}" }}
{{ "{% endblock %}" }}
{% endblock body %}
