{% block extends %}
{{ "{% extends 'SlxMetronicBundle::portletpage.html.twig' %}" }}
{{ "{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block page_title %}" ~ entity ~ " create{% endblock %}" }}

{{ "{% set caption = 'gsprod.general.add'|trans %}" }}
{{ "{% set isForm = true %}" }}
{{ "{% set portletIcon = 'plus' %}" }}

{{ '{% block formActions %}' }}
  {{ "{{ form_widget(edit_form.save) }}" }}
  {{ "{{ form_widget(edit_form.saveAndAdd) }}" }}
  {{ "{{ metronic.abuttonBlue('gsprod.general.back_to_list', path('" ~ route_name_prefix ~ "')) }}" }}
{{ '{% endblock %}' }}

{{ "{% block portlet_body -%}" }}

    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="POST" {{ "{{ form_enctype(form) }}" }}  class="form-horizontal">
        {{ "{{ form_widget(form) }}" }}
{{ "{% endblock portlet_body %}" }}
{% endblock body %}
