{% block extends %}
{{ "{% extends 'SlxMetronicBundle::portletpage.html.twig' %}" }}
{{ "{% import 'SlxMetronicBundle::metronic-macros.html.twig' as metronic %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block portletTools %}" }}
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" 
           ><i class="icon-pencil"></i> {{ "{{ 'gsprod.general.edit'|trans }}" }}</a></li>
    <li><a href="{{ "{{ url('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" 
           class="modal-confirm" 
           confirm-message="{{ "{{'gsprod.general.record_will_be_deleted'|trans}}" }}"><i class="icon-trash"></i> {{ "{{ 'gsprod.general.delete'|trans }}" }}</a></li>
  <li class="divider"></li>
  <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" ><i class="icon-table"></i>{{ "{{ 'gsprod.general.list'|trans }}" }}</a></li>

{{ "{% endblock portletTools %}" }}
{{ "{% set caption = 'gsprod.general.view'|trans %}" }}
{{ "{% set isForm = false %}" }}
{{ "{% set portletIcon = 'table' %}" }}

{{ "{% block portlet_body -%}" }}
{% set addActionsArea = 0 %}
<div class="form-horizontal form-view">
        {%- for field, metadata in fields %}
            {% if not ('created_at' in field or 'updated_at' in field) %}
                <div class="row-fluid">
                  <div class="span12 ">
                    <div class="control-group">
                        <label class="control-label">{{ "{{ 'gsprod." ~ field ~ "'|trans }}" }}</label>

                        {%- if metadata.type in ['date', 'datetime'] %}

                            <div class="controls"><span class="text">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</span></div>

                        {%- else %}

                            <div class="controls"><span class="text">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</span></div>

                        {%- endif %}
                    </div>
                  </div>
                </div>
            {% else %}
                {% set addActionsArea = 1 %}
            {% endif %}
        {%- endfor %}


    {% if addActionsArea==1 %}
        <div class="form-actions">
        {% for field, metadata in fields %}
            {% if 'created_at' in field  %}
                <span class="update-info">{{"{{ 'gsprod.general.created_at'|trans }}"}} {{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d-m-Y H:i:s\') }}' }}</span> 
            {% endif %}
            {% if 'updated_at' in field  %}
                <span class="update-info">{{ "{{ 'gsprod.general.updated_at'|trans }}" }} {{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d-m-Y H:i:s\') }}' }}</span>
            {% endif %}
        {% endfor %}
       </div>
    {% endif %}
</div>
{{ "{% endblock portlet_body %}" }}
{% endblock body %}
